.page-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */
  letter-spacing: -0.22px;
  color: #000000;
}
.number {
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background-color: #1bbc9b;
  padding: 0 4px;
  border-radius: 50px;
}
img {
  width: 300px;
  height: auto;
}
.price {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #6e6e6e;
}

.search-btn {
  background: #1bbc9b;
  border-radius: 5px;
}
.hamberger {
  border: none;
  margin: 0px 4px;
}
