h1,
h2,
p {
  text-align: center;
}
h4 {
  max-width: 80%;
}
cite {
  padding: 0 10px;
  background-color: var(--green);
  border-radius: 4px;
  text-decoration: none;
  font-style: normal;
}
hr {
  width: 376px;
 
  top: 829px;
  left: 27px;
  border-radius: 2px 0px 0px 0px;
  
  
}
figure {
  height: 350px;
}
figure > img:nth-child(1) {
  width: 277px;
  height: 216px;
}
figure > img:nth-child(2) {
  width: 105px;
  height: 80px;
  top: 45px;
  left: -20px;
}
figure > img:nth-child(3) {
  width: 122px;
  height: 130px;
  top: 25px;
  right: -30px;
}
figure > img:nth-child(4) {
  width: 106px;
  height: 139px;
  bottom: 10px;
  left: -10px;
}
figure > img:nth-child(5) {
  width: 79px;
  height: 80px;
  bottom: 30px;
  right: -20px;
}
.bg-blue {
  background-color: #43b9d4 !important;
}
section {
  padding: 25px 0;
}
.slider {
  height: 600px;
}
.slider > .absolute {
  top: 50%;
}
.slider span {
  cursor: pointer;
}
.slider img {
  width: 100%;
  object-fit: cover;
}
.exclusive div {
  top: 50%;
  bottom: 50%;
  margin: 10px;
  height: 200px;
  width: calc(100% - 20px);
  text-align: left;
}
.exclusive div > h2 {
  text-align: left;
  max-width: 300px;
}
.user {
  width: 50px;
  height: 50px;
}
.customer span {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50px;
}
.grid {
  padding-top: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4px;
}
.grid > img:nth-child(1) {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
}
.grid > img {
  object-fit: contain;
}
.always {
  background-image: url(./image/about/always.svg);
  /* height: 923px; */
}
.always > div {
  width: calc(100% - 25px);
}
.always > div:last-child {
  width: 100%;
}
.always img {
  width: 90%;
  margin-top: 10px;
}
.w-90 {
  width: 90%;
}
.always .tag {
  top: 15px;
  right: 25px;
  font-size: 12px !important;
}
.always > h2 {
  text-align: left;
}
.border-bottom {
  border-bottom: 1px solid;
}
.tag {
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 700;
}
.news-box {
  height: 400px;
  background-size: auto;
  border-radius: 18px;
}
.first {
  background-image: url(./image/about/news1.svg);
}
.second {
  background-image: url(./image/about/news2.svg);
}
.third {
  background-image: url(./image/about/news3.svg);
}
.fourth {
  background-image: url(./image/about/news4.svg);
}
.news-box > div {
  top: 15px;
  left: 15px;
}
.news-box > h2,
.news-box > p {
  padding-left: 10px;
  text-align: left;
}
.news-box > p {
  margin-bottom: 50px;
}
