/* Archive */
width: 428px;
height: 6382px;
background: #FFFFFF;
/* Section */
background: url(.jpg);
/* Rectangle 12 */
background: #4BD8CF;
border-radius: 14px;
/* Ellipse 2 */
background: #356F6B;
/* Ellipse 3 */
background: #FFFFFF;
/* Ellipse 4 */
background: #FFFFFF;
/* footer */
/* Rectangle 11 */
background: rgba(67, 74, 84, 0.98);
/* text */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 38px;
/* or 127% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* text */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* symbol */
font-family: 'Font Awesome 5 Brands';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 18px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
font-family: 'Font Awesome 5 Brands';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 18px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
font-family: 'Font Awesome 5 Brands';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 18px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #FFFFFF;
background: #1BBC9B;
border-radius: 5px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
text-transform: lowercase;
color: #FFFFFF;
/*  01 483 593 284 */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 38px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #FFFFFF;
background: #FFFFFF;
box-shadow: 0px 0px 16px 12px #FFFFFF;
/* Neutral/gray-CBCBCB */
background: #CBCBCB;
/* 2024 Fuchsius (PVT) Ltd. All Rights Reserved. */
/* captionMD */
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 180%;
/* identical to box height, or 22px */
text-transform: capitalize;
/* neutral/gray(cbcbcb) */
color: #CBCBCB;
/* Symbol */
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 16px;
line-height: 16px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: right;
color: #000000;
/* div.elementor-widget-wrap */
background: #FFFFFF;
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
border-radius: 15px;
background: url();
border-radius: 15px 15px 0px 0px;
background: #434A54;
border-radius: 30px;
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Section */
/* Heading 4 → Link → Athenes */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #000000;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
color: #6E6E6E;
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
color: #BA71DA;
/* span.elementor-divider-separator */
box-sizing: border-box;
/* Immerse yourself in the history and culture of this ancient city as you explore the stunning Acropolis. */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
display: flex;
align-items: center;
color: #6E6E6E;
/* span.elementor-divider-separator */
box-sizing: border-box;
/* Heading 5 → From */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
letter-spacing: 1px;
color: #6E6E6E;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 38px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #000000;
/* Link */
background: #BA71DA;
border-radius: 5px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
background: #FFFFFF;
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
border-radius: 15px;
/* Section */
background: url();
border-radius: 15px 15px 0px 0px;
background: #434A54;
border-radius: 30px;
/* Symbol */
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* List → Item → 10 Days */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Section */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #000000;
/* List → Item → Thailand */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
color: #6E6E6E;
/* Symbol */
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
color: #BA71DA;
/* span.elementor-divider-separator */
box-sizing: border-box;
/* Marvelous culinary and cultural trip to the Thai capital with its wonderful monuments and Buddha statues. */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
display: flex;
align-items: center;
color: #6E6E6E;
/* span.elementor-divider-separator */
box-sizing: border-box;
/* Heading 5 → From */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
letter-spacing: 1px;
color: #6E6E6E;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 38px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #000000;
/* Link */
background: #BA71DA;
border-radius: 5px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
background: linear-gradient(180deg, #000000 50%, rgba(0, 0, 0, 0) 100%);
opacity: 0.5;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 60px;
/* identical to box height, or 200% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Section → Section */
background: #FFFFFF;
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
border-radius: 15px;
/* Link → i-parallax-12-1024x683.jpeg */
background: url();
border-radius: 15px 15px 0px 0px;
/* div.elementor-widget-container */
background: #434A54;
border-radius: 30px;
/* Symbol */
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Section */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #000000;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
color: #6E6E6E;
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
color: #F76570;
/* span.elementor-divider-separator */
box-sizing: border-box;
/* With its grandiose temples, tombs, and pyramids, Luxor offers a glimpse into the rich history of Egypt. */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
display: flex;
align-items: center;
color: #6E6E6E;
/* span.elementor-divider-separator */
box-sizing: border-box;
/* Section */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
letter-spacing: 1px;
color: #6E6E6E;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 38px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #000000;
/* Link */
background: #F76570;
border-radius: 5px;
/* Details */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Section → Section */
background: #FFFFFF;
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
border-radius: 15px;
/* Section */
/* Link → i-parallax-11-1024x683.jpeg */
background: url();
border-radius: 15px 15px 0px 0px;
/* div.elementor-widget-container */
background: #434A54;
border-radius: 30px;
/* Symbol */
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* List → Item → 1 Week */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Section */
/* Heading 4 → Link → Rocamadour */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #000000;
/* List → Item → France */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
color: #6E6E6E;
/* Symbol */
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
color: #BA71DA;
/* span.elementor-divider-separator */
box-sizing: border-box;
/* Discover the enchanting medieval town of Rocamadour, nestled in the heart of southwestern France. */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
display: flex;
align-items: center;
color: #6E6E6E;
/* span.elementor-divider-separator */
box-sizing: border-box;
/* Section */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
letter-spacing: 1px;
color: #6E6E6E;
/* Heading 3 → $ 280 */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 38px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #000000;
/* Link */
background: #BA71DA;
border-radius: 5px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Section → Section */
background: #FFFFFF;
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
border-radius: 15px;
/* Section */
/* Link → i-parallax-10-destination-04-1024x683.jpeg */
background: url();
border-radius: 15px 15px 0px 0px;
/* div.elementor-widget-container */
background: #434A54;
border-radius: 30px;
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* List → Item → 15 Days */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #000000;
/* List → Item → France */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
color: #6E6E6E;
/* Symbol */
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
color: #14B9D5;
/* span.elementor-divider-separator */
box-sizing: border-box;
/* Escape to the azure coast and discover a world of breathtaking beauty and tranquility of coastline. */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
display: flex;
align-items: center;
color: #6E6E6E;
/* span.elementor-divider-separator */
box-sizing: border-box;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
letter-spacing: 1px;
color: #6E6E6E;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 38px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #000000;
/* Link */
background: #14B9D5;
border-radius: 5px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
background: #FFFFFF;
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
border-radius: 15px;
background: url(.jpg);
border-radius: 15px 15px 0px 0px;
/* div.e-gallery-image */
background: url();
/* div.elementor-widget-container */
background: #434A54;
border-radius: 30px;
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #000000;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
color: #6E6E6E;
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
color: #1BBC9B;
/* span.elementor-divider-separator */
box-sizing: border-box;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
display: flex;
align-items: center;
color: #6E6E6E;
/* span.elementor-divider-separator */
box-sizing: border-box;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
letter-spacing: 1px;
color: #6E6E6E;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 38px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #000000;
/* Link */
background: #1BBC9B;
border-radius: 5px;
/* Details */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
background: #FFFFFF;
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
border-radius: 15px;
background: url();
border-radius: 15px 15px 0px 0px;
background: url(.jpg);
/* div.elementor-widget-container */
background: #434A54;
border-radius: 30px;
/* Symbol */
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* List → Item → 10 Days */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Section */
/* Heading 4 → Link → Bangkok */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #000000;
/* List → Item → Thailand */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
color: #6E6E6E;
/* Symbol */
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
color: #BA71DA;
/* span.elementor-divider-separator */
box-sizing: border-box;
/* Marvelous culinary and cultural trip to the Thai capital with its wonderful monuments and Buddha statues. */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
display: flex;
align-items: center;
color: #6E6E6E;
/* span.elementor-divider-separator */
box-sizing: border-box;
/* Section */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
letter-spacing: 1px;
color: #6E6E6E;
/* Heading 3 → $ 1000 */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 38px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #000000;
/* Link */
background: #BA71DA;
border-radius: 5px;
/* Details */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Frame 7 */
background: rgba(255, 255, 255, 0.7);
/* horizon-explorers-high-resolution-logo-transparent (3) 1 */
background: url(horizon-explorers-high-resolution-logo-transparent (3));
/* Link */
background: #1BBC9B;
border-radius: 5px;
/* Search */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Symbol */
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 20px;
line-height: 20px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #434A54;
