img{
    width: 300px;
    height: auto;
}
p{
    text-align: center;
    line-height: 1.3rem;
}
.btn_blog{
    font-size: 1rem;
    font-weight: 600;
    line-height: 24px;
    padding: 10px 20px;
}
.scrolldown{
    width: 40px;
    height: 40px;
    border: none;
    margin-bottom: 20px;
}
.leftarrow{
    width: 18px;
    height: 18px;
}
.dot span{
    margin-top: 20px;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50px;
}
.image-section img{
width: 50%;
}
.author{
    width: 50px;
    height: auto;
}
.travel-blog{
    font-family: 'Reenie Beanie';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 45px;
    /* or 188% */
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #1BBC9B;
}
.lable-gray{
    background-color: var(--gray);
    padding: 5px;
    border-radius: 8px;
    color:#fff;
}



/* Blog 2 */
width: 428px;
height: 5162px;
background: #FFFFFF;
background: rgba(67, 74, 84, 0.98);
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 38px;
/* or 127% */
align-items: center;
text-align: center;
color: #FFFFFF;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* text */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
font-family: 'Font Awesome 5 Brands';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 18px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
font-family: 'Font Awesome 5 Brands';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 18px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
font-family: 'Font Awesome 5 Brands';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 18px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #FFFFFF;
background: #1BBC9B;
border-radius: 5px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
text-transform: lowercase;
color: #FFFFFF;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 38px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #FFFFFF;
background: #FFFFFF;
box-shadow: 0px 0px 16px 12px #FFFFFF;
/* horizon-explorers-high-resolution-logo-transparent (3) 2 */
/* captionMD */
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 180%;
/* identical to box height, or 22px */
text-transform: capitalize;
/* neutral/gray(cbcbcb) */
color: #CBCBCB;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 60px;
/* identical to box height, or 200% */
display: flex;
align-items: center;
text-align: center;
color: #000000;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 1px;
color: #6E6E6E;
background: #1BBC9B;
border-radius: 21px;
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 21px;
line-height: 21px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
background: url();
filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.1));
border-radius: 15px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* or 136% */
display: flex;
align-items: center;
text-align: center;
color: #6E6E6E;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* or 136% */
display: flex;
align-items: center;
text-align: center;
color: #6E6E6E;
background: #F2F2F2;
border-radius: 15px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 19px;
/* or 149% */
display: flex;
align-items: center;
text-align: center;
color: #6E6E6E;
background: url();
border-radius: 999px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 27px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #000000;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #6E6E6E;
background: #1BBC9B;
border-radius: 3.5px;
background: #434A54;
border-radius: 3.5px;
background: #434A54;
border-radius: 3.5px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* or 136% */
display: flex;
align-items: center;
text-align: center;
color: #6E6E6E;
background: url(.jpg);
filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.1));
border-radius: 15px;
background: url(.jpg);
filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.1));
border-radius: 15px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 46px;
/* or 152% */
display: flex;
align-items: center;
color: #000000;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* or 136% */
display: flex;
align-items: center;
text-align: center;
color: #6E6E6E;
background: url();
filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.1));
border-radius: 15px;
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 18px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
color: #1BBC9B;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 27px;
display: flex;
align-items: center;
text-transform: capitalize;
color: #000000;
font-family: 'Reenie Beanie';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 45px;
/* or 188% */
display: flex;
align-items: center;
text-align: center;
color: #1BBC9B;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 60px;
/* or 200% */
display: flex;
align-items: center;
text-align: center;
color: #000000;
background: url(.jpg);
border-radius: 15px;
/* Section → Section → Link */
background: #434A54;
border-radius: 5px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 38px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #000000;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
display: flex;
align-items: center;
text-align: center;
color: #6E6E6E;
background: #1BBC9B;
border-radius: 5px;
/* Read More */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
background: url();
border-radius: 15px;
background: #434A54;
border-radius: 5px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 38px;
/* or 150% */
display: flex;
align-items: center;
color: #000000;
/* Section → Section → Iconic landmarks that make Europe one of the world's */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
display: flex;
align-items: center;
text-align: center;
color: #6E6E6E;
background: #1BBC9B;
border-radius: 5px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
background: url();
border-radius: 15px;
background: #434A54;
border-radius: 5px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 38px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #000000;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
display: flex;
align-items: center;
text-align: center;
color: #6E6E6E;
/* Section → Section → Link */
background: #1BBC9B;
border-radius: 5px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
background: #1BBC9B;
border-radius: 5px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 20px;
line-height: 20px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #434A54;
