h1  {
    text-align: center;

}

p{
    text-align: center;
}
h3{
    text-align: center;
}
.con-us{
    background-color:#F2F2F2 ;
    width: 428px;
    
    top: 1133px;
    gap: 0px;
    opacity: 0px;
    text-align: center;

}
section{
    text-align: center;
}
.input1{
    width: 400px;
    height: 50px;
    top: 1374px;
    left: 8px;

   border-radius: 5px ;
   border: 1px solid ;
}

.input4{
width: 420px;
height: 51px;
top: 1694px;
padding: 15px 0px 16px 0px;
gap: 0px;
border-radius: 5px 0px 0px 0px;


}
.map{
    width: 428px;

    top: 1783px;


}

.im {
    align-items: center;
    text-align: center;
}

.input2{
    width: 400px;
height: 150px;
top: 1528px;
left: 8px;
border-radius: 5px ;
border: 1px solid;


}

