.des2{
    width: 330px;
height: 617px;

left: -64px;
gap: 0px;
border-radius: 15px 0px 0px 0px;


}

.des1{
    width: 330px;
left: 134px;
gap: 0px;


}
.w-screen{
background-image: url(./image/desti4.svg);
width: 428px;
height: 726px;
top: 596px;
left: 1px;



}



.div1{
 background: #FFFFFF;
border-radius: 15px;

box-shadow: 0px 10px 33px rgba(0, 0, 0, 0.160784);
margin-bottom: 5%;



}
  

  
h1{
    text-align: center;
}
