/* Destination */
width: 428px;
height: 4238px;
background: #FFFFFF;
/* Section → List → Item → Price */
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 21px;
/* identical to box height, or 175% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 1px;
text-transform: uppercase;
color: #FFFFFF;
background: url();
border-radius: 15px 15px 0px 0px;
/* Section */
background: #BC4EEC;
border-radius: 15px;
/* SALE */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
letter-spacing: 1px;
color: #FFFFFF;
/* Section */
background: #FFFFFF;
box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
border-radius: 0px 0px 15px 15px;
/* Link → Heading 4 → Bangkok */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #000000;
/* Symbol */
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 15px;
line-height: 15px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
color: #BA71DA;
/* Link → Thailand */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #6E6E6E;
/* div.nd_travel_section */
background: #E4E4E4;
/* Marvelous culinary and cultural trip to the Thai capital with its wonderful monuments and Buddha statues. */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
display: flex;
align-items: center;
text-align: center;
color: #6E6E6E;
/* div.nd_travel_section */
background: #E4E4E4;
/* Link */
background: #BA71DA;
border-radius: 5px;
/* Details */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
color: #FFFFFF;
/* Heading 5 → From */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
display: flex;
align-items: center;
text-align: right;
letter-spacing: 1px;
color: #6E6E6E;
/* Heading 3 → $ 1000  */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 38px;
/* or 150% */
display: flex;
align-items: center;
text-align: right;
color: #000000;
/* Heading 3 → $ 1023 */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 16px;
/* or 100% */
display: flex;
align-items: center;
text-align: right;
text-decoration-line: line-through;
color: #000000;
opacity: 0.4;
/* div.nd_travel_box_shadow_0_0_15_0_0001 */
background: #FFFFFF;
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
border-radius: 5px;
/* Symbol */
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 15px;
line-height: 15px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
color: #BA71DA;
/* Link → 10 Days */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #6E6E6E;
/* Symbol */
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 15px;
line-height: 15px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
color: #BA71DA;
/* Symbol */
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 15px;
line-height: 15px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
color: #BA71DA;
background: linear-gradient(180deg, #000000 50%, rgba(0, 0, 0, 0) 100%);
opacity: 0.5;
/* Heading 1 → Greece */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 60px;
/* identical to box height, or 200% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Heading 5 → Packages */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* or 150% */
display: flex;
align-items: center;
color: #6E6E6E;
/* Heading 4 → 3 Available */
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */
display: flex;
align-items: center;
color: #000000;
/* div.elementor-icon */
background: #1BBC9B;
border-radius: 25px;
/* Symbol */
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 25px;
line-height: 25px;
/* or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Heading 5 → Sue Black */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* or 150% */
display: flex;
align-items: center;
color: #6E6E6E;
/* Heading 4 → + 485 257 294 */
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */
display: flex;
align-items: center;
color: #000000;
/* div.elementor-icon */
background: #1BBC9B;
border-radius: 25px;
/* Symbol */
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 25px;
line-height: 25px;
/* or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Heading 5 → Contact Us */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* or 150% */
display: flex;
align-items: center;
color: #6E6E6E;
/* Heading 4 → travel@info.com */
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 30px;
/* or 188% */
display: flex;
align-items: center;
color: #000000;
/* div.elementor-icon */
background: #1BBC9B;
border-radius: 25px;
/* Symbol */
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 25px;
line-height: 25px;
/* or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* i-parallax-03-package-01-1024x683.jpeg */
background: url(.jpg);
border-radius: 15px;
/* div.elementor-widget-wrap */
background: url(.jpg);
border-radius: 15px;
/* Rectangle 19 */
background: rgba(143, 240, 223, 0.77);
/* Discover Your Dream Destination */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 39px;
/* or 130% */
display: flex;
align-items: center;
text-align: center;
color: #000000;
/* To find good deals on flights and accommodations, there are several tips and tricks that can be followed. Firstly, it is important to know the typical prices for flights and hotels for the desired destinations. */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */
display: flex;
align-items: center;
color: #6E6E6E;
/* Review and Payment */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 40px;
/* identical to box height, or 250% */
display: flex;
align-items: center;
color: #17262F;
/* Progressbar */
background: #FFFFFF;
/* div.elementor-progress-bar */
background: #434A54;
border-radius: 2px;
/* span.elementor-progress-text */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 40px;
/* identical to box height, or 250% */
display: flex;
align-items: center;
color: #17262F;
/* Progressbar */
background: #FFFFFF;
/* div.elementor-progress-bar */
background: #1BBC9B;
border-radius: 2px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 40px;
/* identical to box height, or 250% */
display: flex;
align-items: center;
color: #17262F;
/* div.elementor-progress-bar */
background: #434A54;
border-radius: 2px;
background: #1BBC9B;
border-radius: 5px;
/* Contact Us */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* A Guide to Your Next Adventure */
font-family: 'Reenie Beanie';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 45px;
/* identical to box height, or 188% */
display: flex;
align-items: center;
color: #2A2B2A;
/* Section → Heading 6 → Check All */
font-family: 'Reenie Beanie';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 45px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: center;
color: #1BBC9B;
/* Section → Heading 1 → Packages */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 60px;
/* identical to box height, or 120% */
display: flex;
align-items: center;
text-align: center;
color: #000000;
/* Rectangle 11 */
background: rgba(67, 74, 84, 0.98);
/* text */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 38px;
/* or 127% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* text */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* text */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* text */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* text */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* symbol */
font-family: 'Font Awesome 5 Brands';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 18px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* symbol */
font-family: 'Font Awesome 5 Brands';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 18px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* symbol */
font-family: 'Font Awesome 5 Brands';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 18px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* symbol */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #FFFFFF;
/* symbol */
background: #1BBC9B;
border-radius: 5px;
/* contact@Horizon Explorers.com */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
text-transform: lowercase;
color: #FFFFFF;
/*  01 483 593 284 */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 38px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #FFFFFF;
background: #FFFFFF;
box-shadow: 0px 0px 16px 12px #FFFFFF;
/* horizon-explorers-high-resolution-logo-transparent (3) 2 */
background: url(horizon-explorers-high-resolution-logo-transparent (3));
/* copyright
alphabet, c, character, copyright, emblem, font, legal, letter, owner, symbol, text
*/
/* Neutral/gray-CBCBCB */
background: #CBCBCB;
/* captionMD */
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 180%;
/* identical to box height, or 22px */
text-transform: capitalize;
/* neutral/gray(cbcbcb) */
color: #CBCBCB;
/* Section → Link → i-parallax-08-destination-02-1024x683.jpeg */
background: url();
border-radius: 15px 15px 0px 0px;
/* Section */
background: #FFFFFF;
box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
border-radius: 0px 0px 15px 15px;
/* Link → Heading 4 → Malibu */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #000000;
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 15px;
line-height: 15px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
color: #FFD205;
/* Link → California */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #6E6E6E;
/* div.nd_travel_section */
background: #E4E4E4;
/* This tour is a breathtaking experience that took us along the stunning coastline of Southern California. */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
display: flex;
align-items: center;
color: #6E6E6E;
/* div.nd_travel_section */
background: #E4E4E4;
/* Link */
background: #FFD205;
border-radius: 5px;
/* Details */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
color: #FFFFFF;
/* Heading 5 → From */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: right;
letter-spacing: 1px;
color: #6E6E6E;
/* Heading 3 → $ 500 */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 38px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: right;
color: #000000;
background: #FFFFFF;
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
border-radius: 5px;
/* Symbol */
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 15px;
line-height: 15px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
color: #FFD205;
/* Link → 5 Days */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #6E6E6E;
/* Symbol */
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 15px;
line-height: 15px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
color: #FFD205;
/* Symbol */
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 15px;
line-height: 15px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
color: #FFD205;
/* Group 19 */
/* Section → Link → i-parallax-09-destination-03-1024x683.jpeg */
background: url();
border-radius: 15px 15px 0px 0px;
/* Section */
background: #FFFFFF;
box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
border-radius: 0px 0px 15px 15px;
/* Link → Heading 4 → Santa Monica */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #000000;
/* Symbol */
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 15px;
line-height: 15px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
color: #1BBC9B;
/* Link → California */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #6E6E6E;
/* div.nd_travel_section */
background: #E4E4E4;
/* This iconic landmark is home to an array of thrilling good attractions and stunning fresh ocean views. */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
display: flex;
align-items: center;
color: #6E6E6E;
/* div.nd_travel_section */
background: #E4E4E4;
/* Link */
background: #1BBC9B;
border-radius: 5px;
/* Details */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
color: #FFFFFF;
/* Heading 5 → From */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: right;
letter-spacing: 1px;
color: #6E6E6E;
/* Heading 3 → $ 650  */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 38px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: right;
color: #000000;
/* Heading 3 → $ 770 */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 16px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: right;
text-decoration-line: line-through;
color: #000000;
opacity: 0.4;
/* div.nd_travel_box_shadow_0_0_15_0_0001 */
background: #FFFFFF;
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
border-radius: 5px;
/* Symbol */
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 15px;
line-height: 15px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
color: #1BBC9B;
/* Link → 10 Days */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #6E6E6E;
/* Symbol */
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 15px;
line-height: 15px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
color: #1BBC9B;
/* Symbol */
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 15px;
line-height: 15px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
color: #1BBC9B;
/* Frame 9 */
background: rgba(255, 255, 255, 0.7);
/* horizon-explorers-high-resolution-logo-transparent (3) 1 */
background: url(horizon-explorers-high-resolution-logo-transparent (3));
/* Link */
background: #1BBC9B;
border-radius: 5px;
/* Search */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Symbol */
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 20px;
line-height: 20px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #434A54;
