.img3{
    margin: 10%;
    box-shadow: 0px 10px 37px rgba(0, 0, 0, 0.160784);
   
}
 h1{
    text-align: center;
}
.dot4 span {
    width:15px;
    height: 15px;
    border-radius: 50px;
    background-color: var(--green);
    display: block;
    




}

