.first-section {
  height: 872px;
}
.header-image-left {
  align-self: flex-start;
}
.header-image-right {
  align-self: flex-end;
}
.main-section h1 {
  padding: 40px 60px;
}
.block-group {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.block-group > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
  padding: 0px 40px;
  background-color: var(--light-green);
  border-radius: 18px;
  max-width: 165px;
}
.block-group > :nth-child(0) {
  align-self: flex-start;
}
.block-group > :nth-child(2) {
  align-self: center;
}
.block-group > :nth-child(3) {
  align-self: flex-end;
}
h2 {
  text-align: center;
}
.city_walks_tour{
  background-image: url(./image/home/city_walks_tour.svg);
}