/* Home */
width: 428px;
height: 11607px;
background: #FFFFFF;
/* Group - 5 / 5 → Figure */
visibility: hidden;
height: 85px;
/* e-logos-01.png */
width: 264px;
height: 78.3px;
background: url(.png);
/* i-parallax-15-1024x683.jpeg */
width: 375px;
height: 700px;
background: url(.jpg);
border-radius: 400px;
/* i-parallax-20-1024x683.jpeg */
width: 368.98px;
height: 700px;
background: url(.jpg);
border-radius: 400px;
/* div.elementor-background-overlay */
background: url(.png);
opacity: 0.15;
/* Adventure & Experience The Travel.. */
width: 265px;
height: 149px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 49px;
/* or 165% */
display: flex;
align-items: center;
letter-spacing: 0.1em;
color: #000000;
/* Group 2 */
width: 280px;
height: 60px;
/* Rectangle 3 */
width: 280px;
height: 60px;
background: #EEFBF8;
border-radius: 11px;
/* Label → Search */
width: 59.81px;
height: 23.62px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16.4304px;
line-height: 25px;
display: flex;
align-items: center;
color: #000000;
/* Symbol */
width: 31.2px;
height: 30.81px;
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 30.807px;
line-height: 30px;
/* or 97% */
display: flex;
align-items: center;
color: #14B9D5;
/* div#placeholder */
height: 21.56px;
/* Insert keyword */
width: 104.45px;
height: 20.53px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14.3766px;
line-height: 22px;
display: flex;
align-items: center;
color: #757575;
/* Options */
height: 32.86px;
background: #FFFFFF;
/* Group 3 */
width: 280px;
height: 60px;
/* Rectangle 4 */
width: 280px;
height: 60px;
background: #EEFBF8;
border-radius: 11px;
/* div */
height: 22.59px;
/* All Destinations */
width: 109.93px;
height: 20px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14.3766px;
line-height: 20px;
/* identical to box height, or 139% */
display: flex;
align-items: center;
color: #6E6E6E;
/* Label → Destinations */
width: 107.58px;
height: 23.62px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16.4304px;
line-height: 25px;
display: flex;
align-items: center;
color: #000000;
/* Symbol */
width: 23.45px;
height: 30.81px;
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 30.807px;
line-height: 30px;
/* or 97% */
display: flex;
align-items: center;
color: #14B9D5;
/* Group 4 */
width: 280px;
height: 60px;
/* Rectangle 5 */
width: 280px;
height: 60px;
background: #EEFBF8;
border-radius: 11px;
/* div */
height: 22.59px;
/* All Typologies */
width: 98.16px;
height: 20px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14.3766px;
line-height: 20px;
/* identical to box height, or 139% */
display: flex;
align-items: center;
color: #6E6E6E;
/* Label → Typologies */
width: 92.67px;
height: 23.62px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16.4304px;
line-height: 25px;
display: flex;
align-items: center;
color: #000000;
/* Symbol */
width: 30.22px;
height: 30.81px;
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 30.807px;
line-height: 30px;
/* or 97% */
display: flex;
align-items: center;
color: #14B9D5;
/* Rectangle 6 */
width: 428px;
height: 2673px;
background: #F2F2F2;
/* Section → Heading 6 → Dream Vacation Destination */
width: 186px;
height: 40px;
font-family: 'Reenie Beanie';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 18px;
/* or 82% */
display: flex;
align-items: center;
text-align: center;
color: #1BBC9B;
/* Section → Heading 1 → Plan the Trip of a Lifetime */
width: 358px;
height: 93px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 38px;
/* or 127% */
display: flex;
align-items: center;
text-align: center;
color: #000000;
/* Section → Whether you're looking for a romantic getaway, a family-friendly adventure, or a */
width: 324px;
height: 203px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
display: flex;
align-items: center;
text-align: center;
color: #6E6E6E;
/* Section → Link */
width: 90px;
height: 40px;
background: #1BBC9B;
border-radius: 5px;
/* More Info */
width: 67.19px;
height: 14px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Section */
width: 380px;
height: 100px;
background: url(.png), #000000;
border-radius: 15px;
/* Heading 4 → City Walks Tour */
width: 161.36px;
height: 30px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #FFFFFF;
/* Section → c-icon-visual-01.gif */
width: 80px;
height: 80px;
background: url(.png);
border-radius: 80px;
/* Section */
height: 100px;
background: url(.jpg), #000000;
border-radius: 15px;
/* Heading 4 → Electric Bikes */
width: 135.28px;
height: 30px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #FFFFFF;
/* Section → c-icon-visual-02.gif */
width: 80px;
height: 80px;
background: url(.png);
border-radius: 80px;
/* Section */
height: 100px;
background: url(.jpg), #000000;
border-radius: 15px;
/* Heading 4 → Skyscrapers View */
width: 183.04px;
height: 30px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #FFFFFF;
/* Section → c-icon-visual-03.gif */
width: 80px;
height: 80px;
background: url(.png);
border-radius: 80px;
/* Group 5 */
width: 380px;
height: 575px;
/* Section → Link → i-parallax-03-package-01.jpeg */
height: 200px;
background: url();
border-radius: 15px 15px 0px 0px;
/* Section */
height: 375px;
background: #FFFFFF;
box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
border-radius: 0px 0px 15px 15px;
/* Link → Heading 4 → Chiang Mai */
width: 117.72px;
height: 30px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #000000;
/* Symbol */
width: 11.58px;
height: 15px;
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 15px;
line-height: 15px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
color: #1BBC9B;
/* Link → Thailand */
width: 69.78px;
height: 24px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #6E6E6E;
/* div.nd_travel_section */
height: 1px;
background: #E4E4E4;
/* Visit the temples and the Chiang Mai Night Bazaar, a huge huge market located on Chiang Klan Road. */
width: 341.06px;
height: 72px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
display: flex;
align-items: center;
text-align: center;
color: #6E6E6E;
/* div.nd_travel_section */
height: 1px;
background: #E4E4E4;
/* Link */
width: 110.08px;
height: 40px;
background: #1BBC9B;
border-radius: 5px;
/* Details */
width: 50.43px;
height: 14px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
color: #FFFFFF;
/* Heading 5 → From */
width: 56px;
height: 16px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
display: flex;
align-items: center;
text-align: right;
letter-spacing: 1px;
color: #6E6E6E;
/* Heading 3 → $ 490 */
width: 87px;
height: 24px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 38px;
/* or 150% */
display: flex;
align-items: center;
text-align: right;
color: #000000;
/* div.nd_travel_box_shadow_0_0_15_0_0001 */
width: 319.95px;
height: 41px;
background: #FFFFFF;
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
border-radius: 5px;
/* Symbol */
width: 15.38px;
height: 15px;
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 15px;
line-height: 15px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
color: #1BBC9B;
/* Link → 1 Week */
width: 46.79px;
height: 21px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #6E6E6E;
/* Symbol */
width: 15.38px;
height: 15px;
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 15px;
line-height: 15px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
color: #1BBC9B;
/* Symbol */
width: 15.38px;
height: 15px;
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 15px;
line-height: 15px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
color: #1BBC9B;
/* Group 10 */
width: 380px;
height: 584px;
/* Section → Link → i-parallax-04-package-02.jpeg */
height: 200px;
background: url(.jpg);
border-radius: 15px 15px 0px 0px;
/* Section */
width: 64.89px;
height: 24px;
background: #48D4EC;
border-radius: 15px;
/* SALE */
width: 35.2px;
height: 14px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
letter-spacing: 1px;
color: #FFFFFF;
/* Section */
height: 384px;
background: #FFFFFF;
box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
border-radius: 0px 0px 15px 15px;
/* Link → Heading 4 → Chao Phraya */
width: 133.91px;
height: 30px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #000000;
/* Symbol */
width: 11.58px;
height: 15px;
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 15px;
line-height: 15px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
color: #14B9D5;
/* Link → Thailand */
width: 69.78px;
height: 24px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #6E6E6E;
/* div.nd_travel_section */
height: 1px;
background: #E4E4E4;
/* Boat tour in the capital of Thailand, Bangkok, to see the beautiful palaces and monuments from the water. */
width: 334px;
height: 72px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
display: flex;
align-items: center;
text-align: center;
color: #6E6E6E;
/* div.nd_travel_section */
height: 1px;
background: #E4E4E4;
/* Link */
width: 110.08px;
height: 40px;
background: #14B9D5;
border-radius: 5px;
/* Details */
width: 50.43px;
height: 14px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
color: #FFFFFF;
/* Heading 5 → From */
width: 45px;
height: 16px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
display: flex;
align-items: center;
text-align: right;
letter-spacing: 1px;
color: #6E6E6E;
/* Heading 3 → $ 98  */
width: 59px;
height: 24px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 38px;
/* or 150% */
display: flex;
align-items: center;
text-align: right;
color: #000000;
/* Heading 3 → $ 134 */
width: 41px;
height: 11px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 16px;
/* or 100% */
display: flex;
align-items: center;
text-align: right;
text-decoration-line: line-through;
color: #000000;
opacity: 0.4;
/* div.nd_travel_box_shadow_0_0_15_0_0001 */
width: 319.95px;
height: 41px;
background: #FFFFFF;
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
border-radius: 5px;
/* Symbol */
width: 15.38px;
height: 15px;
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 15px;
line-height: 15px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
color: #14B9D5;
/* Link → 5 Days */
width: 47.43px;
height: 21px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #6E6E6E;
/* Symbol */
width: 15.38px;
height: 15px;
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 15px;
line-height: 15px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
color: #14B9D5;
/* Symbol */
width: 15.38px;
height: 15px;
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 15px;
line-height: 15px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
color: #14B9D5;
/* Group 11 */
width: 380px;
height: 574px;
/* Section → Link → i-parallax-05-package-03.jpeg */
height: 200px;
background: url();
border-radius: 15px 15px 0px 0px;
/* Section */
width: 64.89px;
height: 24px;
background: #BC4EEC;
border-radius: 15px;
/* SALE */
width: 35.2px;
height: 14px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
letter-spacing: 1px;
color: #FFFFFF;
/* Section */
height: 373px;
background: #FFFFFF;
box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
border-radius: 0px 0px 15px 15px;
/* Link → Heading 4 → Bangkok */
width: 91.62px;
height: 30px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #000000;
/* Symbol */
width: 11.58px;
height: 15px;
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 15px;
line-height: 15px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
color: #BA71DA;
/* Link → Thailand */
width: 69.78px;
height: 24px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #6E6E6E;
/* div.nd_travel_section */
height: 1px;
background: #E4E4E4;
/* Marvelous culinary and cultural trip to the Thai capital with its wonderful monuments and Buddha statues. */
width: 337px;
height: 72px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
display: flex;
align-items: center;
text-align: center;
color: #6E6E6E;
/* div.nd_travel_section */
height: 1px;
background: #E4E4E4;
/* Link */
width: 110.08px;
height: 40px;
background: #BA71DA;
border-radius: 5px;
/* Details */
width: 50.43px;
height: 14px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
color: #FFFFFF;
/* Heading 5 → From */
width: 50px;
height: 14px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
display: flex;
align-items: center;
text-align: right;
letter-spacing: 1px;
color: #6E6E6E;
/* Heading 3 → $ 1000  */
width: 95px;
height: 21px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 38px;
/* or 150% */
display: flex;
align-items: center;
text-align: right;
color: #000000;
/* Heading 3 → $ 1023 */
width: 54px;
height: 10px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 16px;
/* or 100% */
display: flex;
align-items: center;
text-align: right;
text-decoration-line: line-through;
color: #000000;
opacity: 0.4;
/* div.nd_travel_box_shadow_0_0_15_0_0001 */
width: 319.95px;
height: 41px;
background: #FFFFFF;
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
border-radius: 5px;
/* Symbol */
width: 15.38px;
height: 15px;
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 15px;
line-height: 15px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
color: #BA71DA;
/* Link → 10 Days */
width: 51.92px;
height: 21px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #6E6E6E;
/* Symbol */
width: 15.38px;
height: 15px;
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 15px;
line-height: 15px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
color: #BA71DA;
/* Symbol */
width: 15.38px;
height: 15px;
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 15px;
line-height: 15px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
color: #BA71DA;
/* Section → Heading 6 → Choose your Trip */
width: 172px;
height: 33px;
font-family: 'Reenie Beanie';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 45px;
/* or 150% */
display: flex;
align-items: center;
text-align: center;
color: #1BBC9B;
/* Section → Heading 2 → Start your Vacation Now */
width: 216px;
height: 76px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 46px;
/* or 152% */
display: flex;
align-items: center;
text-align: center;
color: #000000;
/* Section → Looking for your dream vacation destination but don't know where to start? With the help of */
width: 358px;
height: 148px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
display: flex;
align-items: center;
text-align: center;
color: #6E6E6E;
/* Form */
box-sizing: border-box;
height: 56px;
border: 0px solid #F1F1F1;
/* Label → Search */
width: 47px;
height: 23px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 11px;
line-height: 132.5%;
/* or 15px */
display: flex;
align-items: center;
color: #000000;
/* Input */
height: 25px;
background: #FFFFFF;
/* div#placeholder */
height: 21px;
/* Insert keyword */
width: 101.72px;
height: 20px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 132.5%;
/* or 15px */
display: flex;
align-items: center;
color: #757575;
/* Symbol */
width: 35.31px;
height: 35px;
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 35px;
line-height: 35px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
color: #F3A46B;
/* Form */
box-sizing: border-box;
height: 57px;
border: 0px solid #F1F1F1;
/* Label → Destinations */
width: 78px;
height: 18px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 11px;
line-height: 16px;
display: flex;
align-items: center;
color: #000000;
/* Options */
height: 25px;
background: #FFFFFF;
/* div */
height: 22px;
/* All Destinations */
width: 107.06px;
height: 20px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 20px;
/* identical to box height, or 182% */
display: flex;
align-items: center;
color: #6E6E6E;
/* Symbol */
width: 27px;
height: 35px;
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 35px;
line-height: 35px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
color: #F3A46B;
/* Form → Input */
width: 297.5px;
height: 40px;
background: #F76570;
border-radius: 10px;
/* SEARCH */
width: 56.92px;
height: 20px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Form */
box-sizing: border-box;
height: 57px;
border: 0px solid #F1F1F1;
/* Label → Typologies */
width: 90.25px;
height: 23px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 11px;
line-height: 16px;
display: flex;
align-items: center;
color: #000000;
/* Options */
height: 20px;
background: #FFFFFF;
/* div */
height: 22px;
/* All Typologies */
width: 95.6px;
height: 20px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 20px;
/* identical to box height, or 182% */
display: flex;
align-items: center;
color: #6E6E6E;
/* Symbol */
width: 35.31px;
height: 35px;
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 35px;
line-height: 35px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
color: #F3A46B;
/* Rectangle 7 */
width: 428px;
height: 1123px;
background: #F2F2F2;
/* symbol */
width: 155px;
height: 44px;
font-family: 'Reenie Beanie';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 45px;
/* or 150% */
display: flex;
align-items: center;
color: #1BBC9B;
/* symbol */
width: 303px;
height: 155px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 38px;
/* or 127% */
display: flex;
align-items: center;
text-align: center;
color: #000000;
/* symbol */
width: 360px;
height: 191px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
display: flex;
align-items: center;
text-align: center;
color: #6E6E6E;
/* symbol */
background: url(.jpg), #1ABC9C;
border-radius: 15px;
/* div.elementor-flip-box__layer__overlay */
background: rgba(0, 0, 0, 0.32);
border-radius: 15px;
/* Heading 3 */
height: 30px;
/* Greece */
width: 73.42px;
height: 30px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* beaches */
width: 61.45px;
height: 20px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Experience the ancient history & */
width: 173px;
height: 42px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* symbol */
background: url(.jpg), #1ABC9C;
border-radius: 15px;
/* div.elementor-flip-box__layer__overlay */
background: rgba(0, 0, 0, 0.32);
border-radius: 15px;
/* Heading 3 */
height: 30px;
/* Egypt */
width: 59.13px;
height: 30px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* pyramids */
width: 66.97px;
height: 20px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Discover the land of pharaohs & */
width: 183px;
height: 33px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* symbol */
background: url(.jpg), #1ABC9C;
border-radius: 15px;
/* div.elementor-flip-box__layer__overlay */
background: rgba(0, 0, 0, 0.32);
border-radius: 15px;
/* Heading 3 */
height: 30px;
/* Africa */
width: 62.48px;
height: 30px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* lifetime */
width: 52.19px;
height: 20px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Embark on a journey for your */
width: 159px;
height: 33px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* symbol */
background: url(.jpg), #1ABC9C;
border-radius: 15px;
/* div.elementor-flip-box__layer__overlay */
background: rgba(0, 0, 0, 0.32);
border-radius: 15px;
/* Heading 3 */
height: 30px;
/* France */
width: 71.51px;
height: 30px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Indulge in the art, culture, and */
width: 169px;
height: 41px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* cuisine */
width: 49.65px;
height: 20px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* symbol */
width: 428px;
height: 840px;
background: url();
/* Section → Button - Go to slide 1 */
width: 5px;
height: 5px;
background: #FFFFFF;
border-radius: 2.5px;
/* Section → Button - Go to slide 2 */
width: 5px;
height: 5px;
background: #1BBC9B;
border-radius: 2.5px;
/* Section → Heading 6 → Adventure Travel */
width: 167.84px;
height: 45px;
font-family: 'Reenie Beanie';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 45px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #FFFFFF;
/* Rectangle 8 */
width: 428px;
height: 840px;
background: linear-gradient(180deg, rgba(102, 102, 102, 0.01) 0%, #0D0C0C 100%);
opacity: 0.8;
/* div.swiper-slide-bg */
width: 300px;
height: 200px;
background: url();
border-radius: 12px;
/* Symbol */
width: 9px;
height: 15px;
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 15px;
line-height: 18px;
/* or 120% */
display: flex;
align-items: center;
color: #FFFFFF;
/* Symbol */
width: 9px;
height: 15px;
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 15px;
line-height: 18px;
/* or 120% */
display: flex;
align-items: center;
color: #FFFFFF;
/* Symbol */
width: 9px;
height: 15px;
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 15px;
line-height: 18px;
/* or 120% */
display: flex;
align-items: center;
color: #FFFFFF;
/* Section → Heading 1 → Embrace the Thrill of */
width: 329px;
height: 62px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 27px;
/* or 90% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Section → Are you tired of the typical tourist destinations and looking to step out of */
width: 380px;
height: 113px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;
/* or 112% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Section → List → Item → Connect with nature */
width: 175px;
height: 23px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;
/* or 112% */
display: flex;
align-items: center;
color: #FFFFFF;
/* Section → List → Item */
box-sizing: border-box;
height: 1px;
/* Section → List → Item → Experience other cultures */
width: 214px;
height: 23px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;
/* or 112% */
display: flex;
align-items: center;
color: #FFFFFF;
/* Section → List → Item */
box-sizing: border-box;
height: 1px;
/* Section → List → Item → Create unforgettable memories */
width: 271px;
height: 23px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;
/* or 112% */
display: flex;
align-items: center;
color: #FFFFFF;
/* Section → Link */
width: 183px;
height: 40px;
background: #1BBC9B;
border-radius: 5px;
/* All Services */
width: 82.91px;
height: 14px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 18px;
/* or 129% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* e-logos-05.png */
width: 100px;
height: 50px;
background: url(.png);
/* e-logos-03.png */
width: 100px;
height: 50px;
background: url(.png);
/* e-logos-04.png */
width: 100px;
height: 50px;
background: url(.png);
/* e-logos-02.png */
width: 100px;
height: 50px;
background: url(.png);
/* symbol */
width: 354px;
height: 40px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 120px;
/* or 400% */
display: flex;
align-items: center;
text-align: center;
color: #000000;
/* image */
width: 400px;
height: 200px;
background: url();
/* Rectangle 9 */
width: 400px;
height: 200px;
background: rgba(217, 217, 217, 0.7);
/* YouTube-Logo-2017-present 1 */
width: 50px;
height: 28.12px;
background: url(.png);
/* octicon:play-16 */
width: 30px;
height: 30px;
/* Vector */
background: #FFFFFF;
/* Section */
width: 428px;
height: 824px;
background: url(.jpg);
/* div.elementor-background-overlay */
background: linear-gradient(144.78deg, rgba(0, 0, 0, 0.93) 0%, rgba(67, 74, 84, 0.12) 100%);
opacity: 0.7;
/* Section → g-avatar-01.jpeg */
width: 100px;
background: url();
border-radius: 150px;
/* Section → Heading 1 → Unforgettable Travel */
width: 313px;
height: 102px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 38px;
/* or 127% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Section → Our customer's feedback is essential in building a great reputation and */
width: 372px;
height: 144px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Group - 2 / 3 */
width: 400px;
background: #1BBC9B;
border-radius: 15px;
/* My husband and I have been using this travel agency for years and they have never disappointed us. */
width: 376px;
height: 112px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* or 164% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* g-avatar-03.jpeg */
width: 45px;
height: 45px;
background: url(.jpg);
border-radius: 999px;
/* Cite → Jennifer and Mark */
width: 149.77px;
height: 24px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #FFFFFF;
/* Cite → San Francisco */
width: 98.15px;
height: 21px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #FFFFFF;
/* Group - 3 / 3 */
width: 400px;
background: #1BBC9B;
border-radius: 15px;
/* This travel agency made my dream trip to Europe a reality. They worked with me every step of the way to plan the itinerary. */
width: 373px;
height: 120px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
/* or 131% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* g-avatar-04.jpeg */
width: 45px;
height: 45px;
background: url(.jpg);
border-radius: 999px;
/* Cite → Dylan and Emily */
width: 132.86px;
height: 24px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #FFFFFF;
/* Cite → Miami */
width: 43.16px;
height: 21px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #FFFFFF;
/*  Clear Price */
width: 140px;
height: 36px;
font-family: 'Reenie Beanie';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 45px;
/* or 150% */
display: flex;
align-items: center;
text-align: center;
color: #1BBC9B;
/*  Affordable Travel Packages */
width: 391px;
height: 75px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 37px;
/* or 123% */
display: flex;
align-items: center;
text-align: center;
color: #000000;
/*  We believe that everyone deserves to experience their dream vacation without breaking the bank. */
width: 401px;
height: 84px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
display: flex;
align-items: center;
text-align: center;
color: #6E6E6E;
/* text */
background: #A2AF9F;
border-radius: 15px;
/* Heading 4 */
width: 109px;
height: 30px;
/* Half Board */
width: 107.56px;
height: 30px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: center;
color: #000000;
/* Heading 1 → $ 50  */
width: 70px;
height: 30px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 8px;
/* or 27% */
display: flex;
align-items: center;
text-align: center;
color: #000000;
/* Heading 1 → / Day */
width: 45px;
height: 23px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 8px;
/* or 50% */
display: flex;
align-items: center;
text-align: center;
color: #000000;
/* Item → Transfers from Airport */
width: 173.91px;
height: 23px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 132.8%;
/* or 19px */
display: flex;
align-items: center;
text-align: center;
color: #6E6E6E;
/* Item → Minimum 3 Star Hotel */
width: 170.66px;
height: 23px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 132.8%;
/* or 19px */
display: flex;
align-items: center;
text-align: center;
color: #6E6E6E;
/* Item → Alcoholic beverages */
width: 162.85px;
height: 23px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 132.8%;
/* or 19px */
display: flex;
align-items: center;
text-align: center;
color: #6E6E6E;
/* Item → Incl. Museum Tickets */
width: 163.72px;
height: 23px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 132.8%;
/* or 19px */
display: flex;
align-items: center;
text-align: center;
color: #6E6E6E;
/* Item → Meals in Restaurants */
width: 165.94px;
height: 23px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 132.8%;
/* or 19px */
display: flex;
align-items: center;
text-align: center;
color: #6E6E6E;
/* Link */
width: 148px;
height: 40px;
background: #1BBC9B;
border-radius: 5px;
/* VIEW TRIPS */
width: 78.82px;
height: 14px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* text */
background: #1BBC9B;
border-radius: 15px;
/* Heading 4 */
width: 137px;
height: 17px;
/* All Inclusive */
width: 136.21px;
height: 30px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Heading 1 → $ 32  */
width: 69px;
height: 33px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 8px;
/* or 27% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Heading 1 → / Day */
width: 50px;
height: 26px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 8px;
/* or 44% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Item → Meals in Restaurants */
width: 182.51px;
height: 25.3px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 0px;
/* or 0% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Item → Alcoholic beverages */
width: 179.11px;
height: 25.3px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 0px;
/* or 0% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Item → Minimum 3 Star Hotel */
width: 187.71px;
height: 25.3px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 0px;
/* or 0% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Item → Transfers from Airport */
width: 191.28px;
height: 25.3px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 0px;
/* or 0% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Item → Incl. Museum Tickets */
width: 180.07px;
height: 25.3px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 0px;
/* or 0% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* div.elementor-element */
transform: matrix(1, 0, 0, -1, 0, 0);
/* Link */
width: 135.63px;
height: 40px;
background: #434A54;
border-radius: 5px;
/* VIEW ALL */
width: 69.94px;
height: 14px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* text */
width: 200px;
background: #536557;
border-radius: 15px;
/* Excursions Included */
width: 184px;
height: 49px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
/* or 115% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Heading 1 → $ 68  */
width: 77px;
height: 32px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 8px;
/* or 27% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Heading 1 → / Day */
width: 51px;
height: 23px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 8px;
/* or 44% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Item → Minimum 3 Star Hotel */
width: 186px;
height: 23px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Item → Meals in Restaurants */
width: 180px;
height: 23px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Item → Incl. Museum Tickets */
width: 178px;
height: 23px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Item → Meals in Restaurants */
width: 180px;
height: 23px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Item → Alcoholic beverages */
width: 178px;
height: 23px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* div.elementor-element */
transform: matrix(1, 0, 0, -1, 0, 0);
/* Link */
width: 97.67px;
height: 24px;
background: #1BBC9B;
border-radius: 5px;
/* POPULAR */
width: 67.97px;
height: 14px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 1px;
color: #FFFFFF;
/* Link */
width: 160px;
height: 40px;
background: #1BBC9B;
border-radius: 5px;
/* BUTTON */
width: 57.57px;
height: 14px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* text */
width: 286.84px;
height: 24px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: center;
color: #6E6E6E;
/* i-parallax-20-1024x683.jpeg */
width: 428px;
height: 605px;
background: url(.jpg);
border-radius: 277.5px 0px 0px 277.5px;
/* Rectangle 10 */
width: 428px;
height: 605px;
background: rgba(0, 0, 0, 0.74);
/* Heading 6 */
height: 32px;
/* Wandering Souls */
width: 159.26px;
height: 45px;
font-family: 'Reenie Beanie';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 45px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #51EECE;
/* Discover Your Next Adventure */
width: 329px;
height: 120px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 35px;
/* or 117% */
display: flex;
align-items: center;
letter-spacing: 0.21em;
color: #CAD1CB;
/* Whether you're planning a romantic honeymoon or a family vacation, our price section has got you covered. So, start browsing today and find the perfect vacation package at a price that won't leave you feeling guilty. */
width: 378px;
height: 159px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 24px;
/* or 160% */
display: flex;
align-items: center;
color: rgba(255, 255, 255, 0.7);
/* Heading 5 → Organized Group Tour */
width: 196.08px;
height: 24px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
letter-spacing: 1px;
color: rgba(255, 255, 255, 0.7);
/* div.elementor-progress-bar */
height: 1px;
background: #BFC2C8;
border-radius: 2px;
transform: matrix(-1, 0, 0, 1, 0, 0);
/* span.elementor-progress-text */
width: 549px;
transform: matrix(-1, 0, 0, 1, 0, 0);
/* div.elementor-progress-bar */
height: 1px;
background: #BFC2C8;
border-radius: 2px;
transform: matrix(-1, 0, 0, 1, 0, 0);
/* span.elementor-progress-text */
width: 488px;
transform: matrix(-1, 0, 0, 1, 0, 0);
/* Single Customized Trip */
width: 203.97px;
height: 24px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
letter-spacing: 1px;
color: rgba(255, 255, 255, 0.7);
/* Link */
width: 136.86px;
height: 40px;
background: #1BBC9B;
border-radius: 5px;
/* MORE INFO */
width: 77.18px;
height: 14px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* symbol */
width: 152px;
height: 34px;
font-family: 'Reenie Beanie';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 45px;
/* or 205% */
display: flex;
align-items: center;
text-align: center;
color: #1BBC9B;
/* symbol */
width: 220px;
height: 45px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 43px;
/* or 143% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: #000000;
/* symbol */
width: 390px;
height: 135px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */
display: flex;
align-items: center;
text-align: center;
color: #6E6E6E;
/* symbol */
width: 380px;
height: 255px;
background: url();
border-radius: 15px;
/* symbol */
width: 103px;
height: 24px;
background: #90ACD3;
border-radius: 5px;
/* April 7, 2023 */
width: 85.44px;
height: 14px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #BFF1FC;
/* symbol */
width: 316px;
height: 37px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 38px;
/* or 156% */
display: flex;
align-items: center;
color: #000000;
/* symbol */
width: 380px;
height: 157px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */
display: flex;
align-items: center;
text-align: center;
color: #6E6E6E;
/* symbol */
width: 106px;
height: 40px;
background: #1BBC9B;
border-radius: 5px;
/* Read More */
width: 76.45px;
height: 14px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Group 6 */
width: 393px;
height: 85px;
/* symbol */
width: 120px;
height: 85px;
background: url(.jpg);
border-radius: 15px;
/* symbol */
width: 62px;
height: 20px;
background: #1BBC9B;
border-radius: 5px;
/* April 7, 2023 */
width: 61px;
height: 14px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 9px;
line-height: 14px;
/* identical to box height, or 156% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* symbol */
width: 238px;
height: 19px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
/* or 188% */
display: flex;
align-items: center;
color: #000000;
/* symbol */
width: 264px;
height: 40px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
/* or 117% */
display: flex;
align-items: center;
color: #6E6E6E;
/* Group 7 */
width: 393px;
height: 85px;
/* symbol */
width: 120px;
height: 85px;
background: url();
border-radius: 15px;
/* symbol */
width: 62px;
height: 20px;
background: #1BBC9B;
border-radius: 5px;
/* April 7, 2023 */
width: 62px;
height: 14px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 9px;
line-height: 14px;
/* identical to box height, or 156% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* symbol */
width: 183px;
height: 17px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
/* or 188% */
display: flex;
align-items: center;
color: #000000;
/* symbol */
width: 265px;
height: 42px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
/* or 117% */
display: flex;
align-items: center;
color: #6E6E6E;
/* Group 8 */
width: 393px;
height: 85px;
/* symbol */
width: 120px;
height: 85px;
background: url();
border-radius: 15px;
/* symbol */
width: 62px;
height: 20px;
background: #1BBC9B;
border-radius: 5px;
/* April 7, 2023 */
width: 62px;
height: 14px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 9px;
line-height: 14px;
/* identical to box height, or 156% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* symbol */
width: 186px;
height: 17px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
/* or 188% */
display: flex;
align-items: center;
color: #000000;
/* symbol */
width: 265px;
height: 32px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
/* or 117% */
display: flex;
align-items: center;
color: #6E6E6E;
/* Group 9 */
width: 393px;
height: 85px;
/* symbol */
width: 120px;
height: 85px;
background: url();
border-radius: 15px;
/*  Link */
width: 62px;
height: 20px;
background: #1BBC9B;
border-radius: 5px;
/* April 7, 2023 */
width: 62px;
height: 14px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 9px;
line-height: 14px;
/* identical to box height, or 156% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Explore the Wonders */
width: 175px;
height: 20px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
/* or 188% */
display: flex;
align-items: center;
color: #000000;
/*  Must-see destinations and experiences, including */
width: 266px;
height: 31px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
/* or 117% */
display: flex;
align-items: center;
color: #6E6E6E;
/* footer */
width: 428px;
height: 949px;
/* Rectangle 11 */
width: 428px;
height: 949px;
background: rgba(67, 74, 84, 0.98);
/* text */
width: 380px;
height: 110px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 38px;
/* or 127% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* text */
width: 85.44px;
height: 30px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* text */
width: 129.9px;
height: 23px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* text */
width: 120.48px;
height: 23px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* text */
width: 119.7px;
height: 23px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* symbol */
width: 18.31px;
height: 18px;
font-family: 'Font Awesome 5 Brands';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 18px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* symbol */
width: 18.31px;
height: 18px;
font-family: 'Font Awesome 5 Brands';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 18px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* symbol */
width: 20.57px;
height: 18px;
font-family: 'Font Awesome 5 Brands';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 18px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* symbol */
width: 83.85px;
height: 30px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #FFFFFF;
/* symbol */
width: 251px;
height: 44px;
background: #1BBC9B;
border-radius: 5px;
/* contact@Horizon Explorers.com */
width: 242px;
height: 14px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
text-transform: lowercase;
color: #FFFFFF;
/*  01 483 593 284 */
width: 205.38px;
height: 37.5px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 38px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #FFFFFF;
/* Ellipse 1 */
width: 110px;
height: 33px;
background: #FFFFFF;
box-shadow: 0px 0px 16px 12px #FFFFFF;
/* horizon-explorers-high-resolution-logo-transparent (3) 2 */
width: 80px;
height: 25px;
background: url(horizon-explorers-high-resolution-logo-transparent (3));
/* copyright
alphabet, c, character, copyright, emblem, font, legal, letter, owner, symbol, text
*/
width: 24px;
height: 24px;
/* Vector */
/* Neutral/gray-CBCBCB */
background: #CBCBCB;
/* 2024 Fuchsius (PVT) Ltd. All Rights Reserved. */
width: 268px;
height: 22px;
/* captionMD */
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 180%;
/* identical to box height, or 22px */
text-transform: capitalize;
/* neutral/gray(cbcbcb) */
color: #CBCBCB;
/* Frame 4 */
width: 424.8px;
height: 38.62px;
background: rgba(255, 255, 255, 0.7);
/* horizon-explorers-high-resolution-logo-transparent (3) 1 */
width: 80px;
height: 24.62px;
background: url(horizon-explorers-high-resolution-logo-transparent (3));
/* Link */
width: 81px;
height: 22px;
background: #1BBC9B;
border-radius: 5px;
/* Search */
width: 51px;
height: 14px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Symbol */
width: 17.8px;
height: 20px;
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 20px;
line-height: 20px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #434A54;
