main{
    margin: auto;
    width: 375px;
    min-height: 100vh;
    background: #FFFFFF;
    }


    .Login{
        margin-top: 35%;
        margin-bottom: 15%;
    width: 197px;
    height: 108px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 54px;
    letter-spacing: -0.5px;
    color: #202020;
    }   