.btn-max {
  margin-top: 10%;
  width: 201px;
  height: 50px;



  border-radius: 16px;
  background: #065847;

  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  border: 0;
  color: #f3f3f3;


}

.max {
  width: 347px;
  height: 263px;
  top: 274px;
  left: 40px;
  /* Pop-up */
  background-color: #F8F8F8;

  border-radius: 10%;
  margin-top: 50%;

  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.160784);


}

.cir-gre {
  margin-top: -35px;
  border: 10px solid white;
  border-radius: 50%;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.160784);

}