.menu{
width: 214px;
height: 428px;
background: #1BBC9B;


font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 23px;
text-decoration: none;
display: flex;
align-items: center;
letter-spacing: 0.05em;
color: #000000;
}
