.menu{
width: 214px;
height: 428px;
background: #1BBC9B;
}
/* Search */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 23px;
/* identical to box height, or 144% */
display: flex;
align-items: center;
letter-spacing: 0.05em;
text-decoration-line: underline;
color: #000000;
/* Destination */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 23px;
/* identical to box height, or 144% */
display: flex;
align-items: center;
letter-spacing: 0.05em;
text-decoration-line: underline;
color: #000000;
/* Single Page */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 23px;
/* identical to box height, or 144% */
display: flex;
align-items: center;
letter-spacing: 0.05em;
text-decoration-line: underline;
color: #000000;
/* Archive */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 23px;
/* identical to box height, or 144% */
display: flex;
align-items: center;
letter-spacing: 0.05em;
text-decoration-line: underline;
color: #000000;
/* Price */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 23px;
/* identical to box height, or 144% */
display: flex;
align-items: center;
letter-spacing: 0.05em;
text-decoration-line: underline;
color: #000000;
/* Services */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 23px;
/* identical to box height, or 144% */
display: flex;
align-items: center;
letter-spacing: 0.05em;
text-decoration-line: underline;
color: #000000;
/* Blog 2 */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 23px;
/* identical to box height, or 144% */
display: flex;
align-items: center;
letter-spacing: 0.05em;
text-decoration-line: underline;
color: #000000;
/* Contact Us */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 23px;
/* identical to box height, or 144% */
display: flex;
align-items: center;
letter-spacing: 0.05em;
text-decoration-line: underline;
color: #000000;
/* Shop */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 23px;
/* identical to box height, or 144% */
display: flex;
align-items: center;
letter-spacing: 0.05em;
text-decoration-line: underline;
color: #000000;
/* Blog */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 23px;
/* identical to box height, or 144% */
display: flex;
align-items: center;
letter-spacing: 0.05em;
text-decoration-line: underline;
color: #000000;
/* Technologies */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 23px;
/* identical to box height, or 144% */
display: flex;
align-items: center;
letter-spacing: 0.05em;
text-decoration-line: underline;
color: #000000;
/* Previews */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 23px;
/* identical to box height, or 144% */
display: flex;
align-items: center;
letter-spacing: 0.05em;
text-decoration-line: underline;
color: #000000;
/* About Us */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 23px;
/* identical to box height, or 144% */
display: flex;
align-items: center;
letter-spacing: 0.05em;
text-decoration-line: underline;
color: #000000;
/* Cart */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 23px;
/* identical to box height, or 144% */
display: flex;
align-items: center;
letter-spacing: 0.05em;
text-decoration-line: underline;
color: #000000;
