.new-password{
    background-color: var(--light-green);
    height: 3rem;
    margin-bottom: 10px;
}
.new-password input{
    width: 100%;
    height:calc(100% - 10px);
}
.label-position{
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
}


.btn-startnew2 {
    margin-top: 10%;
    width: 335px;
    height: 61px;
    
    border-radius: 16px;
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    border: 0;
    color: #f3f3f3;
  }
