.new-password{
    background-color: var(--light-green);
    height: 3rem;
    margin-bottom: 10px;
}
.new-password input{
    width: 100%;
    height:calc(100% - 10px);
}
.label-position{
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
}