/* New Password */
width: 428px;
height: 812px;
background: #FFFFFF;
background: #F2F5FE;
transform: rotate(-110deg);
/* bubble 01 */
background: #1BBC9B;
transform: rotate(92deg);
/* Title */
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 21px;
line-height: 30px;
/* identical to box height, or 143% */
text-align: center;
letter-spacing: -0.21px;
color: #202020;
/* Repeat Password */
background: #CFF1EA;
/* Rectangle 591 */
background: #CFF1EA;
border-radius: 9px;
/* Title */
font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 21px;
/* identical to box height, or 124% */
text-align: center;
letter-spacing: -0.17px;
color: #707070;
/* Password */
/* Rectangle 583 */
background: #CFF1EA;
border-radius: 9px;
/* Title */
font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 21px;
/* identical to box height, or 124% */
text-align: center;
letter-spacing: -0.17px;
color: #707070;
/* Title */
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 26px;
/* identical to box height, or 173% */
text-align: center;
color: #202020;
mix-blend-mode: normal;
opacity: 0.9;
/* Please, setup a new password for your account */
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 300;
font-size: 19px;
line-height: 27px;
/* or 142% */
text-align: center;
color: #000000;
/* Button */
/* Rectangle 454 */
background: #004CFF;
border-radius: 16px;
/* Save */
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 31px;
/* identical to box height, or 141% */
text-align: center;
color: #FFFFFF;
/* ellipse */
background: #FFFFFF;
box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.160784);
/* 8C7948DA-DE0D-4C75-A489-906685B1197B */
background: #000000;
/* artist-2 1 */
background: url(artist-2.jpg);
