
/* Bubbles */
width: 533.91px;
height: 550.34px;
/* bubble 02 */
width: 373.53px;
height: 442.65px;
background: #F2F5FE;
transform: rotate(158deg);
/* bubble 01 */
width: 402.87px;
height: 442.65px;
background: #1BBC9B;

.passTop{
    margin-top: 50%;
}