.dot span{
    width: 15px;
    height: 15px;
    background-color: var(--light-green);
    border-radius: 50px;
    display: block;
}


.btn-startnew {
    margin-top: 10%;
    width: 335px;
    height: 61px;
    
    border-radius: 16px;
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    border: 0;
    color: #f3f3f3;
  }