
.passTop{
    margin-top: 50%;
}


.img-boder
{
   border: 10px solid white;
   border-radius: 50%;
}

input{
    width: 30px; 
    height: 30px;
    border-radius:  7px;
    margin-bottom: 200px;
     

}
