.tag {
    top: 25px;
    right: 15px;
    padding: 5px 10px;
    border-radius: 50px;
}


.material-symbols-outlined {
    font-size: 1rem !important;
}

.bg-blue {
    background-color: #43b9d4 !important;
}

.t-blue {
    color: #43b9d4;
}

.t-red {
    color: #ef5b74;
}

.bg-red {
    background-color: #ef5b74 !important;
}

.bg-orange {
    background-color: #eca46e !important;
}

.t-orange {
    color: #eca46e;
}

.card3 {
    max-width: 300px;
}

.preview3 {
    flex-wrap: wrap;
}

.tag2 {
    padding: 2px 10px;
    font-size: 0.7rem;
    top: 5px;
    border-radius: 50px;
}

.card3 {
    width: 175px;
    height: 220px;
    border-radius: 18px;
}

.card3:first-of-type {
    background-image: url(./image/preview/tokyo.svg);
}

.card3:nth-of-type(2) {
    background-image: url(./image/preview/tokyo.svg);
}

.card3:nth-of-type(3) {
    background-image: url(./image/preview/rhodes2.svg);
}

.tag3 {
    top: 15px;
    left: 0;
    right: 0;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 2px 20px;
    border-radius: 18px;
}

.card4 {
    padding: 15px;
    padding-top: 45px;
    height: 350px;
    border-radius: 18px;
    background-repeat: no-repeat;
    background-size: cover;
}

.card4:first-of-type {
    background-image: url(./image/preview/bangkok2.svg);
}

.card5 {
    height: 390px;
    background-size: cover;
    border-radius: 18px;
    padding: 15px;
}

.card5:first-of-type {
    background-image: url(./image/preview/nile.svg);
}

.card6 img {
    max-width: 215px;
    max-height: 150px;
}

.tag6 {
    top: 5px;
    right: 5px;
    padding: 2px 10px;
    border-radius: 18px;

}

.card7 {
    background-size: auto;
    background-repeat: no-repeat;
    min-width: 175px;
    height: 120px;
    padding-bottom: 10px;
}

.card7:first-of-type {
    background-image: url(./image/preview/chiang_mai.svg);

}

.grid {
    grid-template-columns: 1fr 1fr;
    gap: 4px;
    padding-bottom: 15px;
}