p {
    text-align: center;
}
h1{
    text-align: center;
}
.dot4{
    text-align: center;
}
.box{
/* box-shadow: 0px 0px 30px 0px #0000001A; */
width: 380px;
height: 375px;
top: 577px;
left: 24px;
box-shadow: 0px 10px 37px rgba(0, 0, 0, 0.160784);
border-radius: 0px 0px 15px 15px;


}


.dot6 span {
    width: 35px;
    top: 2317px;
    left: 42px;
    padding: 9.5px 0px 10.5px 0px;
    border-radius: 5px ;
    text-align: center;
    background-color: var(--gray);
    display: block;
  }


  .dot7 {
    background-color: var(--green) !important;
  }
    