p {
    text-align: center;
}
h1{
    text-align: center;
}
.dot4{
    text-align: center;
}
.box{
/* box-shadow: 0px 0px 30px 0px #0000001A; */
width: 380px;
height: 375px;
top: 577px;
left: 24px;
box-shadow: 0px 10px 37px rgba(0, 0, 0, 0.160784);
border-radius: 0px 0px 15px 15px;


}



