.ser1 {
    width: 120px;
    height: 200px;
    top: 239px;
    left: 214px;
    gap: 0px;
    border-radius: 15px 0px 0px 0px;
    opacity: 0px;


}

.ser2 {
    width: 120px;
    height: 200px;
    margin-top: 396px;
    margin-left: 274px;
    gap: 0px;
    border-radius: 15px 0px 0px 0px;
    opacity: 0px;

}

.ser3 {
    width: 120px;
    height: 200px;
    margin-top: 526px;
    margin-left: 334px;
    gap: 0px;
    border-radius: 15px 0px 0px 0px;
    opacity: 0px;

}

.ser8 {
    background-image: url(./image/ser8.svg);
    width: 428px;
    height: 573px;
    top: 3447px;


}

p {
    text-align: center;
}

h5 {
    text-align: center;
}

h1 {
    text-align: center;
}

.img-sev {
    margin-left: 6%;
}

.sediv1 {
    width: 50%;
    height: 40px;
    top: 2486px;
    padding-left: 0%;
    margin-bottom: 5%;
    margin-right: 0%;
    display: inline-block;
    align-items: start;


}

.sediv2 {
    width: 50%;
    height: 40px;
    top: 2486px;
    padding-left: 50%;
    margin-bottom: 5%;
    margin-right: 60%;
}