/* Services */
width: 428px;
height: 5162px;
background: #FFFFFF;
/* Section */
width: 428px;
height: 339px;
background: url(.jpg);
/* div.elementor-background-overlay */
background: linear-gradient(180deg, #000000 50%, rgba(0, 0, 0, 0) 100%);
opacity: 0.5;
/* Heading 1 → Services */
width: 218.32px;
height: 60px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 60px;
/* identical to box height, or 200% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* i-parallax-07-destination-01-1024x683.jpeg */
width: 120px;
height: 200px;
background: url(.jpg);
border-radius: 15px;
/* i-parallax-09-destination-03-1024x683.jpeg */
width: 120px;
height: 200px;
background: url();
border-radius: 15px;
/* i-parallax-08-destination-02-1024x683.jpeg */
width: 120px;
height: 200px;
background: url();
border-radius: 15px;
/* Tourist Hotspots */
width: 155.31px;
height: 45px;
font-family: 'Reenie Beanie';
font-style: normal;
font-weight: 500;
font-size: 29.8828px;
line-height: 45px;
/* identical to box height, or 151% */
display: flex;
align-items: center;
color: #1BBC9B;
/* Trip Planning for the Best Travel Experience Possible */
width: 370px;
height: 116px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 33px;
/* or 132% */
display: flex;
align-items: center;
color: #000000;
/* Welcome to our travel agency, where we specialize in providing our clients with unforgettable travel experiences. Whether you're looking to relax on a tropical beach or embark on a cultural adventure, we can help you plan your dream vacation. From flights and accommodations to tours and activities, we'll handle all the details, so you can focus on making memories. */
width: 315px;
height: 192px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */
display: flex;
align-items: center;
color: #6E6E6E;
/* Item → We offer a wide range of travel tours to destinations all over the world */
width: 370px;
height: 23px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 142.31%;
/* or 18px */
display: flex;
align-items: center;
color: #6E6E6E;
/* Symbol */
width: 16.39px;
height: 16px;
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 16px;
line-height: 2px;
/* or 12% */
display: flex;
align-items: center;
color: #6E6E6E;
/* Item → Our travel agents are available to assist you every step of the way */
width: 352px;
height: 23px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 142.31%;
/* or 18px */
display: flex;
align-items: center;
color: #6E6E6E;
/* Symbol */
width: 16.39px;
height: 16px;
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 16px;
line-height: 2px;
/* or 12% */
display: flex;
align-items: center;
color: #6E6E6E;
/* Link */
width: 136.13px;
height: 44px;
background: #1BBC9B;
border-radius: 5px;
/* Read More */
width: 76.45px;
height: 14px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Section → Section → Heading 6 → Let us help you plan your next adventure */
width: 316px;
height: 45px;
font-family: 'Reenie Beanie';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 26px;
/* or 108% */
display: flex;
align-items: center;
text-align: center;
color: #1BBC9B;
/* Section → Section → Heading 2 → Perfect Vacation come True */
width: 372px;
height: 45px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;
/* or 122% */
display: flex;
align-items: center;
text-align: center;
color: #000000;
/* Group 27 */
width: 200px;
height: 267px;
/* Section → Section → b-icon-01.png */
width: 80px;
height: 80px;
background: url(.png);
/* Section → Section → Heading 4 → Airline Tickets */
width: 145.14px;
height: 30px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #000000;
/* Section → Section → Our travel agency specializes in providing our */
width: 200px;
height: 119px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
display: flex;
align-items: center;
text-align: center;
color: #6E6E6E;
/* Group 28 */
width: 200px;
height: 271px;
/* Section → Section → b-icon-02.png */
width: 80px;
height: 80px;
background: url(.png);
/* Section → Section → Heading 4 → Ocean Cruises */
width: 149.59px;
height: 30px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #000000;
/* Section → Section → Luxurious and comfortable way of travel, and */
width: 200px;
height: 126px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
display: flex;
align-items: center;
text-align: center;
color: #6E6E6E;
/* Group 29 */
width: 200px;
height: 268px;
/* Section → Section → b-icon-04.png */
width: 80px;
height: 80px;
background: url(.png);
/* Section → Section → Heading 4 → Means of Transport */
width: 199.27px;
height: 30px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #000000;
/* Section → Section → Our travel agency offers a variety of means of */
width: 200px;
height: 119px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
display: flex;
align-items: center;
text-align: center;
color: #6E6E6E;
/* Group 30 */
width: 200px;
height: 268px;
/* Section → Section → b-icon-03.png */
width: 80px;
height: 80px;
background: url(.png);
/* Section → Section → Heading 4 → Travel itineraries */
width: 175.09px;
height: 30px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #000000;
/* Section → Section → Our team of experts will take care of all the planning */
width: 200px;
height: 119px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
display: flex;
align-items: center;
text-align: center;
color: #6E6E6E;
/* Group 31 */
width: 200px;
height: 262px;
/* Section → Section → b-icon-05.png */
width: 80px;
height: 80px;
background: url(.png);
/* Section → Section → Heading 4 → Travel Insurance */
width: 173.33px;
height: 30px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #000000;
/* Section → Section → Travel insurance is an essential part of any trip, */
width: 200px;
height: 109px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
display: flex;
align-items: center;
text-align: center;
color: #6E6E6E;
/* Group 32 */
width: 200px;
height: 267px;
/* Section → Section → b-icon-06.png */
width: 80px;
height: 80px;
background: url(.png);
/* Section → Section → Heading 4 → Local Guide */
width: 119.01px;
height: 30px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #000000;
/* Section → Section → We can connect you with guides who will take you */
width: 200px;
height: 119px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
display: flex;
align-items: center;
text-align: center;
color: #6E6E6E;
/* Section */
/* div.elementor-motion-effects-layer */
background: url(.jpg);
/* Section */
background: linear-gradient(281.75deg, rgba(0, 0, 0, 0.38) 0%, #000000 100%);
opacity: 0.7;
/* Section → Heading 1 → Let us Help you Plan your */
width: 440px;
height: 60px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 57px;
/* or 190% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Section → Heading 1 → Next Getaway Now */
width: 336px;
height: 60px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 57px;
/* or 190% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Section → Contact our agency and we will get you a quote in a very short time. Discover the world with */
width: 411px;
height: 61px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
/* or 157% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Section → us Book your next unforgettable adventure today. */
width: 224px;
height: 61px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
/* or 157% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Section → Link */
width: 181.42px;
background: #1BBC9B;
border-radius: 5px;
/* CONTACT US */
width: 109.79px;
height: 14px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16.8px;
line-height: 14px;
/* identical to box height, or 83% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* div.elementor-counter-number-wrapper */
height: 40px;
/* span.elementor-counter-number-prefix */
width: 75.52px;
/* 330 */
width: 74.79px;
height: 40px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 40px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
color: #111A2E;
/* span.elementor-counter-number-suffix */
width: 75.52px;
/* p.elementor-heading-title */
height: 48px;
/* Days in which you can travel the world */
width: 178.47px;
height: 48px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
display: flex;
align-items: center;
text-align: center;
color: #6E6E6E;
/* div.elementor-counter-number-wrapper */
height: 40px;
/* span.elementor-counter-number-prefix */
width: 80.27px;
/* 124 */
width: 65.37px;
height: 40px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 40px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
color: #111A2E;
/* span.elementor-counter-number-suffix */
width: 80.27px;
/* p.elementor-heading-title */
height: 48px;
/* Information and assistance points in the countries */
width: 220.12px;
height: 48px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
display: flex;
align-items: center;
text-align: center;
color: #6E6E6E;
/* div.elementor-counter-number-wrapper */
height: 40px;
/* span.elementor-counter-number-prefix */
width: 79.48px;
/* 165 */
width: 67.32px;
height: 40px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 40px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
color: #111A2E;
/* span.elementor-counter-number-suffix */
width: 79.48px;
/* p.elementor-heading-title */
height: 48px;
/* Attractions with specialized and competent local guide */
width: 218.82px;
height: 48px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
display: flex;
align-items: center;
text-align: center;
color: #6E6E6E;
/* div.elementor-counter-number-wrapper */
height: 40px;
/* span.elementor-counter-number-prefix */
width: 80.17px;
/* 381 */
width: 65.96px;
height: 40px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 40px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
color: #111A2E;
/* span.elementor-counter-number-suffix */
width: 80.18px;
/* p.elementor-heading-title */
height: 48px;
/* Affiliated hotels with all- inclusive service */
width: 192.8px;
height: 48px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
display: flex;
align-items: center;
text-align: center;
color: #6E6E6E;
/* Always by your side */
width: 168px;
height: 52px;
font-family: 'Reenie Beanie';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 45px;
/* or 188% */
display: flex;
align-items: center;
color: #1BBC9B;
/* Our Numbers in the World */
width: 351px;
height: 79px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 35px;
/* or 117% */
display: flex;
align-items: center;
text-align: center;
color: #000000;
/* Our team of experienced travel experts can provide you with personalized recommendations and advice to create a trip that suits your preferences and budget. Various destinations around the world. With our knowledge and expertise in the travel industry, we ensure that all aspects of your trip. */
width: 365px;
height: 153px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* or 136% */
display: flex;
align-items: center;
text-align: center;
color: #6E6E6E;
/* Link */
width: 127px;
height: 40px;
background: #434A54;
border-radius: 5px;
/* READ MORE */
width: 81.05px;
height: 14px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Section → Section → Heading 6 → Personalized Trips */
width: 178.14px;
height: 45px;
font-family: 'Reenie Beanie';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 45px;
/* identical to box height, or 188% */
display: flex;
align-items: center;
text-align: center;
color: #1BBC9B;
/* Section → Section → Heading 2 → Contact us for a Quote */
width: 401.95px;
height: 45.5px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 46px;
/* identical to box height, or 152% */
display: flex;
align-items: center;
text-align: center;
color: #000000;
/* Section → Section */
width: 428px;
/* div.elementor-motion-effects-layer */
background: url();
/* Rectangle 22 */
background: rgba(217, 217, 217, 0.5);
/* Heading 3 */
width: 475px;
height: 37.5px;
/* Plan your Next Trip */
width: 241.25px;
height: 37.5px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 38px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: center;
color: #000000;
/* Write to us for personalized travel advice or for information on group travel and last minute travel, all travel is insured and safe. */
width: 401px;
height: 97px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* or 136% */
display: flex;
align-items: center;
text-align: center;
color: #000000;
/* Form - Contact form → Textarea */
box-sizing: border-box;
height: 116px;
border: 1px solid rgba(0, 0, 0, 0.95);
border-radius: 5px;
/* Form - Contact form → Input */
width: 413px;
height: 48px;
background: #1BBC9B;
border-radius: 5px;
/* Submit */
width: 106px;
height: 17px;
font-family: 'Arial';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 1px;
color: #0C0C0C;
/* Form - Contact form → Input */
box-sizing: border-box;
width: 413px;
height: 57px;
border: 1px solid #000000;
border-radius: 5px;
/* div#placeholder */
height: 25px;
/* Insert your email */
width: 133.64px;
height: 23px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
color: #000000;
/* Form - Contact form → Input */
box-sizing: border-box;
border: 1px solid rgba(0, 0, 0, 0.87);
border-radius: 5px;
/* div#placeholder */
height: 25px;
/* Type your name */
width: 130.16px;
height: 23px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
color: #000000;
/* Section → Section */
width: 428px;
background: #434A54;
border-radius: 0px 0px 15px 15px;
/* div.elementor-background-overlay */
background: url(.jpg);
opacity: 0.2;
border-radius: 0px 0px 15px 15px;
/* Group - 1 / 5 → Figure → f-logos-03-white.png */
width: 100px;
height: 50px;
background: url();
/* Group - 2 / 5 → Figure → f-logos-02-white.png */
width: 100px;
height: 50px;
background: url();
/* Group - 3 / 5 → Figure → f-logos-01-white.png */
width: 100px;
height: 50px;
background: url();
/* Group - 4 / 5 → Figure → f-logo-05-white.png */
width: 100px;
height: 50px;
background: url();
/* Group - 5 / 5 → Figure → f-logo-04-white.png */
width: 100px;
height: 50px;
background: url();
/* Group - 1 / 5 → Figure → f-logos-03-white.png */
width: 100px;
height: 50px;
background: url();
/* footer */
width: 428px;
height: 949px;
/* Rectangle 11 */
width: 428px;
height: 949px;
background: rgba(67, 74, 84, 0.98);
/* text */
width: 380px;
height: 110px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 38px;
/* or 127% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* text */
width: 85.44px;
height: 30px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* text */
width: 129.9px;
height: 23px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* text */
width: 120.48px;
height: 23px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* text */
width: 119.7px;
height: 23px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* symbol */
width: 18.31px;
height: 18px;
font-family: 'Font Awesome 5 Brands';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 18px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* symbol */
width: 18.31px;
height: 18px;
font-family: 'Font Awesome 5 Brands';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 18px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* symbol */
width: 20.57px;
height: 18px;
font-family: 'Font Awesome 5 Brands';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 18px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* symbol */
width: 83.85px;
height: 30px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #FFFFFF;
/* symbol */
width: 251px;
height: 44px;
background: #1BBC9B;
border-radius: 5px;
/* contact@Horizon Explorers.com */
width: 242px;
height: 14px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
text-transform: lowercase;
color: #FFFFFF;
/*  01 483 593 284 */
width: 205.38px;
height: 37.5px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 38px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #FFFFFF;
/* Ellipse 1 */
width: 110px;
height: 33px;
background: #FFFFFF;
box-shadow: 0px 0px 16px 12px #FFFFFF;
/* horizon-explorers-high-resolution-logo-transparent (3) 2 */
width: 80px;
height: 25px;
background: url(horizon-explorers-high-resolution-logo-transparent (3));
/* copyright
alphabet, c, character, copyright, emblem, font, legal, letter, owner, symbol, text
*/
width: 24px;
height: 24px;
/* Vector */
/* Neutral/gray-CBCBCB */
background: #CBCBCB;
/* 2024 Fuchsius (PVT) Ltd. All Rights Reserved. */
width: 268px;
height: 22px;
/* captionMD */
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 180%;
/* identical to box height, or 22px */
text-transform: capitalize;
/* neutral/gray(cbcbcb) */
color: #CBCBCB;
/* Frame 13 */
width: 424.8px;
height: 38.62px;
background: rgba(255, 255, 255, 0.7);
/* horizon-explorers-high-resolution-logo-transparent (3) 1 */
width: 80px;
height: 24.62px;
background: url(horizon-explorers-high-resolution-logo-transparent (3));
/* Link */
width: 81px;
height: 22px;
background: #1BBC9B;
border-radius: 5px;
/* Search */
width: 51px;
height: 14px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Symbol */
width: 17.8px;
height: 20px;
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 20px;
line-height: 20px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #434A54;
