/* Shop */
width: 428px;
height: 3313px;
background: #FFFFFF;
/* footer */
width: 428px;
height: 949px;
/* Rectangle 11 */
width: 428px;
height: 949px;
width: 380px;
height: 110px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 38px;
/* or 127% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* text */
width: 85.44px;
height: 30px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* text */
width: 129.9px;
height: 23px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* text */
width: 120.48px;
height: 23px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* text */
width: 119.7px;
height: 23px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* symbol */
width: 18.31px;
height: 18px;
font-family: 'Font Awesome 5 Brands';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 18px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* symbol */
width: 18.31px;
height: 18px;
font-family: 'Font Awesome 5 Brands';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 18px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* symbol */
width: 20.57px;
height: 18px;
font-family: 'Font Awesome 5 Brands';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 18px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* symbol */
width: 83.85px;
height: 30px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #FFFFFF;
/* symbol */
width: 251px;
height: 44px;
background: #1BBC9B;
border-radius: 5px;
/* contact@Horizon Explorers.com */
width: 242px;
height: 14px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
text-transform: lowercase;
color: #FFFFFF;
/*  01 483 593 284 */
width: 205.38px;
height: 37.5px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 38px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
color: #FFFFFF;
/* Ellipse 1 */
width: 110px;
height: 33px;
background: #FFFFFF;
box-shadow: 0px 0px 16px 12px #FFFFFF;
/* horizon-explorers-high-resolution-logo-transparent (3) 2 */
width: 80px;
height: 25px;
background: url(horizon-explorers-high-resolution-logo-transparent (3));
/* copyright
alphabet, c, character, copyright, emblem, font, legal, letter, owner, symbol, text
*/
width: 24px;
height: 24px;
/* Vector */
/* Neutral/gray-CBCBCB */
background: #CBCBCB;
/* 2024 Fuchsius (PVT) Ltd. All Rights Reserved. */
width: 268px;
height: 22px;
/* captionMD */
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 180%;
/* identical to box height, or 22px */
text-transform: capitalize;
/* neutral/gray(cbcbcb) */
color: #CBCBCB;
/* Section */
width: 428px;
height: 339px;
background: url(.jpg);
/* div.elementor-background-overlay */
background: linear-gradient(180deg, #000000 50%, rgba(0, 0, 0, 0) 100%);
opacity: 0.5;
/* Heading 1 → Shop */
width: 130.55px;
height: 60px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 60px;
/* identical to box height, or 200% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Section → Form → Options - Shop order */
box-sizing: border-box;
width: 150px;
height: 40px;
background: #EFEFEF;
border: 1px solid #E4E4E4;
border-radius: 5px;
/* Default sorting */
width: 103px;
height: 20px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
color: #6E6E6E;
/* Section → List → Item → Link → h-square-01-300x300.jpeg */
height: 300px;
background: url(.jpg);
border-radius: 15px;
/* Section → List → Item → Link → h-square-06-300x300.jpeg */
height: 300px;
background: url(.jpg);
border-radius: 15px;
/* Section → List → Item → Link → Heading 2 → Baggage Insurance */
width: 202.06px;
height: 26px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 26px;
/* identical to box height, or 130% */
display: flex;
align-items: center;
text-align: center;
color: #000000;
/* Section → List → Item → Link → $ */
width: 54.86px;
height: 23px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
color: #6E6E6E;
/* Section → List → Item → Link - Add “Baggage Insurance” to your cart */
width: 150.89px;
height: 36px;
background: #1BBC9B;
border-radius: 5px;
/* Add to cart */
width: 91.23px;
height: 16px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 16px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Section → List → Item → Link → h-square-05-300x300.jpeg */
height: 300px;
background: url(.jpg);
border-radius: 15px;
/* Section → List → Item → Link */
width: 70px;
height: 24px;
background: #434A54;
border-radius: 15px;
/* Sale */
width: 40.75px;
height: 24px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 1px;
text-transform: uppercase;
color: #FFFFFF;
/* Section → List → Item → Link → h-square-02-300x300.jpeg */
height: 300px;
background: url(.jpg);
border-radius: 15px;
/* Section → List → Item → Link */
width: 70px;
height: 24px;
background: #434A54;
border-radius: 15px;
/* Sale */
width: 40.75px;
height: 24px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 1px;
text-transform: uppercase;
color: #FFFFFF;
/* Section → List → Item → Link → Heading 2 → Health Insurance */
width: 176.67px;
height: 26px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 26px;
/* identical to box height, or 130% */
display: flex;
align-items: center;
text-align: center;
color: #000000;
/* Section → List → Item → Link → $ */
width: 63.2px;
height: 23px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
color: #6E6E6E;
/* Section → List → Item → Link - Add “Health Insurance” to your cart */
width: 150.89px;
height: 36px;
background: #1BBC9B;
border-radius: 5px;
/* Add to cart */
width: 91.23px;
height: 16px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 16px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Section → List → Item → Link → Heading 2 → Medical Insurance */
width: 190.4px;
height: 26px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 26px;
/* identical to box height, or 130% */
display: flex;
align-items: center;
text-align: center;
color: #000000;
/* Section → List → Item → Link → Del → $ */
width: 114.06px;
height: 23px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
text-decoration-line: line-through;
color: #6E6E6E;
opacity: 0.5;
/* Section → List → Item → Link - Add “Medical Insurance” to your cart */
width: 150.89px;
height: 36px;
background: #1BBC9B;
border-radius: 5px;
/* Add to cart */
width: 91.23px;
height: 16px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 16px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Section → List → Item → Link → Heading 2 → Tour Operator Liability */
width: 229.71px;
height: 26px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 26px;
/* identical to box height, or 130% */
display: flex;
align-items: center;
text-align: center;
color: #000000;
/* Section → List → Item → Link → Del → $ */
width: 114.01px;
height: 23px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
text-decoration-line: line-through;
color: #6E6E6E;
opacity: 0.5;
/* Section → List → Item → Link - Add “Tour Operator Liability” to your cart */
width: 150.89px;
height: 36px;
background: #1BBC9B;
border-radius: 5px;
/* Add to cart */
width: 91.23px;
height: 16px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 16px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Frame 15 */
width: 424.8px;
height: 38.62px;
background: rgba(255, 255, 255, 0.7);
/* horizon-explorers-high-resolution-logo-transparent (3) 1 */
width: 80px;
height: 24.62px;
background: url(horizon-explorers-high-resolution-logo-transparent (3));
/* Link */
width: 81px;
height: 22px;
background: #1BBC9B;
border-radius: 5px;
/* Search */
width: 51px;
height: 14px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Symbol */
width: 17.8px;
height: 20px;
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 20px;
line-height: 20px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
text-align: center;
color: #434A54;
