ul[data-icon="tic"] {
  list-style-image: url(./image/single_page/bullet.svg);
}

ul[data-icon="cross"] {
  list-style-image: url(./image/single_page/bullet2.svg);
}

.page-title {
  width: 100%;
  height: 335px;
  text-align: center;
  align-content: center;
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 0px;
  background-size: cover;
  opacity: 1;
}

.page-title>div {
  background-color: var(--green);
  opacity: 0.5;
}