.hei-img{
    height: 300px;
    border-radius: 18px;

}


.back-img1 {
    background-image: url(./image/tec1.svg);
   

}
.back-img2{
    background-image: url(./image/tec2.svg);
   
}
.back-img3{
    background-image: url(./image/tec3.svg);
   
}
.back-img4{
    background-image: url(./image/tec4.svg);
   
}
.back-img5{
    background-image: url(./image/tec5.svg);
   
}
.back-img6{
    background-image: url(./image/tec6.svg);
   
}
.back-img7{
    background-image: url(./image/tec7.svg);
   
}
.back-img8{
    background-image: url(./image/tec8.svg);
   
}
.back-img9{
    background-image: url(./image/tec9.svg);
   
}
.back-img10{
    background-image: url(./image/tec10.svg);
   
}



  

.tag {
   
    padding: 5px 10px;
    margin-bottom: 30%;
    margin-left: 25%;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: 700;
  }

p {
    text-align: center;
}

h2 {
    text-align: center;


}



