/* Wrong Password */
width: 428px;
height: 812px;
background: #FFFFFF;
/* Bubbles */
width: 533.91px;
height: 550.34px;
/* bubble 02 */
width: 373.53px;
height: 442.65px;
background: #F2F5FE;
transform: rotate(158deg);
/* bubble 01 */
width: 402.87px;
height: 442.65px;
background: #1BBC9B;
/* Dots */
width: 220px;
height: 17px;
/* ellispse 01 */
width: 17px;
height: 17px;
/* ellispse 01 */
background: #FC0000;
/* ellispse 01 */
width: 17px;
height: 17px;
/* ellispse 01 */
background: #FC0000;
/* ellispse 01 */
width: 17px;
height: 17px;
/* ellispse 01 */
background: #FC0000;
/* ellispse 01 */
width: 17px;
height: 17px;
/* ellispse 01 */
background: #FC0000;
/* ellispse 01 */
width: 17px;
height: 17px;
/* ellispse 01 */
background: #FC0000;
/* ellispse 01 */
width: 17px;
height: 17px;
/* ellispse 01 */
background: #FC0000;
/* ellispse 01 */
width: 17px;
height: 17px;
/* ellispse 01 */
background: #FC0000;
/* ellispse 01 */
width: 17px;
height: 17px;
/* ellispse 01 */
background: #FC0000;
/* Title */
width: 152px;
height: 26px;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 26px;
/* identical to box height, or 173% */
text-align: center;
color: #202020;
/* Title */
width: 191px;
height: 36px;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 36px;
/* identical to box height, or 129% */
text-align: center;
letter-spacing: -0.28px;
color: #202020;
/* Title */
width: 169px;
height: 35px;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 300;
font-size: 19px;
line-height: 35px;
/* identical to box height, or 184% */
text-align: center;
color: #000000;
/* Keyboard Alphabetic */
width: 375px;
height: 291px;
/* Background */
/* Background background */
background: rgba(0, 0, 0, 0.0001);
/* background */
background: rgba(204, 206, 211, 0.760784);
/* Home Indicator */
visibility: hidden;
width: 134px;
height: 5px;
/* Keys */
/* Dictation */
width: 15px;
height: 25px;
background: #50555C;
/* Dictation-path */
background: #50555C;
/* Union 85 */
background: #50555C;
/* Dictation-path */
background: #50555C;
/* Dictation-path */
background: #50555C;
/* Dictation-path */
background: #50555C;
/* Dictation-path */
background: #50555C;
/* Dictation-path */
background: #50555C;
/* Dictation-path */
background: #50555C;
/* Emoji */
width: 27px;
height: 27px;
background: #50555C;
/* Emoji-path */
background: #50555C;
/* Emoji-path */
background: #50555C;
/* Emoji-path */
background: #50555C;
/* Emoji-path */
background: #50555C;
/* Emoji-path */
background: #50555C;
/* Emoji-path */
background: #50555C;
/* Return */
width: 88px;
height: 42px;
/* Return background */
background: rgba(0, 0, 0, 0.0001);
/* Rectangle */
background: #ADB3BC;
box-shadow: 0px 1px 0px #898A8D;
border-radius: 4.6px;
/* ↳ Links to */
/* Label */
height: 21px;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height, or 131% */
text-align: center;
letter-spacing: -0.00512px;
color: #000000;
/* Space */
width: 182px;
height: 42px;
/* Space background */
background: rgba(0, 0, 0, 0.0001);
/* Rectangle */
background: #FCFCFE;
box-shadow: 0px 1px 0px #898A8D;
border-radius: 4.6px;
/* Label */
height: 21.31px;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* or 131% */
text-align: center;
letter-spacing: -0.00512px;
color: #000000;
/* 123 */
width: 87px;
height: 42px;
/* 123 background */
background: rgba(0, 0, 0, 0.0001);
/* Rectangle */
background: #ADB3BC;
box-shadow: 0px 1px 0px #898A8D;
border-radius: 4.6px;
/* Label */
height: 21px;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height, or 131% */
text-align: center;
letter-spacing: -0.32px;
color: #000000;
/* Delete */
width: 42px;
height: 42px;
/* Key Light */
/* Key Light background */
background: rgba(0, 0, 0, 0.0001);
/* Rectangle */
background: #ADB3BC;
box-shadow: 0px 1px 0px #898A8D;
border-radius: 4.6px;
/* Label */
height: 21px;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
/* identical to box height, or 131% */
text-align: center;
letter-spacing: -0.32px;
color: #000000;
/* Delete Button */
height: 16.99px;
background: #000000;
/* Cross-path */
background: #000000;
/* Cross-path */
background: #000000;
/* Cross-path */
background: #000000;
/* Cross-path */
background: #000000;
/* Exclusion 231 */
background: #000000;
/* Border */
background: #000000;
/* Cross-path */
background: #000000;
/* Cross-path */
background: #000000;
/* Shift */
width: 42px;
height: 42px;
/* Key Light */
/* Key Light background */
background: rgba(0, 0, 0, 0.0001);
/* Rectangle */
background: #FCFCFE;
box-shadow: 0px 1px 0px #898A8D;
border-radius: 4.6px;
/* Symbol */
height: 30px;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 30px;
/* identical to box height */
text-align: center;
letter-spacing: -0.542379px;
color: #000000;
/* Shift */
width: 18.88px;
height: 16.46px;
background: #000000;
/* M */
width: 32px;
height: 42px;
/* Rectangle */
background: #FCFCFE;
box-shadow: 0px 1px 0px #898A8D;
border-radius: 4.6px;
/* Symbol */
height: 31px;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 22.5px;
line-height: 31px;
/* identical to box height */
text-align: center;
letter-spacing: -0.554706px;
color: #000000;
/* N */
width: 32px;
height: 42px;
/* Rectangle */
background: #FCFCFE;
box-shadow: 0px 1px 0px #898A8D;
border-radius: 4.6px;
/* Symbol */
height: 31px;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 22.5px;
line-height: 31px;
/* identical to box height */
text-align: center;
letter-spacing: -0.554706px;
color: #000000;
/* B */
width: 32px;
height: 42px;
/* Rectangle */
background: #FCFCFE;
box-shadow: 0px 1px 0px #898A8D;
border-radius: 4.6px;
/* Symbol */
height: 31px;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 22.5px;
line-height: 31px;
/* identical to box height */
text-align: center;
letter-spacing: -0.554706px;
color: #000000;
/* V */
width: 32px;
height: 42px;
/* Rectangle */
background: #FCFCFE;
box-shadow: 0px 1px 0px #898A8D;
border-radius: 4.6px;
/* Symbol */
height: 31px;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 22.5px;
line-height: 31px;
/* identical to box height */
text-align: center;
letter-spacing: -0.554706px;
color: #000000;
/* C */
width: 32px;
height: 42px;
/* Rectangle */
background: #FCFCFE;
box-shadow: 0px 1px 0px #898A8D;
border-radius: 4.6px;
/* Symbol */
height: 31px;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 22.5px;
line-height: 31px;
/* identical to box height */
text-align: center;
letter-spacing: -0.554706px;
color: #000000;
/* X */
width: 32px;
height: 42px;
/* Rectangle */
background: #FCFCFE;
box-shadow: 0px 1px 0px #898A8D;
border-radius: 4.6px;
/* Symbol */
height: 31px;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 22.5px;
line-height: 31px;
/* identical to box height */
text-align: center;
letter-spacing: -0.554706px;
color: #000000;
/* Z */
width: 32px;
height: 42px;
/* Rectangle */
background: #FCFCFE;
box-shadow: 0px 1px 0px #898A8D;
border-radius: 4.6px;
/* Symbol */
height: 31px;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 22.5px;
line-height: 31px;
/* identical to box height */
text-align: center;
letter-spacing: -0.554706px;
color: #000000;
/* L */
width: 32px;
height: 42px;
/* Rectangle */
background: #FCFCFE;
box-shadow: 0px 1px 0px #898A8D;
border-radius: 4.6px;
/* Symbol */
height: 31px;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 22.5px;
line-height: 31px;
/* identical to box height */
text-align: center;
letter-spacing: -0.554706px;
color: #000000;
/* K */
width: 32px;
height: 42px;
/* Rectangle */
background: #FCFCFE;
box-shadow: 0px 1px 0px #898A8D;
border-radius: 4.6px;
/* Symbol */
height: 31px;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 22.5px;
line-height: 31px;
/* identical to box height */
text-align: center;
letter-spacing: -0.554706px;
color: #000000;
/* J */
width: 32px;
height: 42px;
/* Rectangle */
background: #FCFCFE;
box-shadow: 0px 1px 0px #898A8D;
border-radius: 4.6px;
/* Symbol */
height: 31px;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 22.5px;
line-height: 31px;
/* identical to box height */
text-align: center;
letter-spacing: -0.554706px;
color: #000000;
/* H */
width: 32px;
height: 42px;
/* Rectangle */
background: #FCFCFE;
box-shadow: 0px 1px 0px #898A8D;
border-radius: 4.6px;
/* Symbol */
height: 31px;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 22.5px;
line-height: 31px;
/* identical to box height */
text-align: center;
letter-spacing: -0.554706px;
color: #000000;
/* G */
width: 32px;
height: 42px;
/* Rectangle */
background: #FCFCFE;
box-shadow: 0px 1px 0px #898A8D;
border-radius: 4.6px;
/* Symbol */
height: 31px;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 22.5px;
line-height: 31px;
/* identical to box height */
text-align: center;
letter-spacing: -0.554706px;
color: #000000;
/* F */
width: 32px;
height: 42px;
/* Rectangle */
background: #FCFCFE;
box-shadow: 0px 1px 0px #898A8D;
border-radius: 4.6px;
/* Symbol */
height: 31px;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 22.5px;
line-height: 31px;
/* identical to box height */
text-align: center;
letter-spacing: -0.554706px;
color: #000000;
/* D */
width: 32px;
height: 42px;
/* Rectangle */
background: #FCFCFE;
box-shadow: 0px 1px 0px #898A8D;
border-radius: 4.6px;
/* Symbol */
height: 31px;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 22.5px;
line-height: 31px;
/* identical to box height */
text-align: center;
letter-spacing: -0.554706px;
color: #000000;
/* S */
width: 32px;
height: 42px;
/* Rectangle */
background: #FCFCFE;
box-shadow: 0px 1px 0px #898A8D;
border-radius: 4.6px;
/* Symbol */
height: 31px;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 22.5px;
line-height: 31px;
/* identical to box height */
text-align: center;
letter-spacing: -0.554706px;
color: #000000;
/* A */
width: 32px;
height: 42px;
/* Rectangle */
background: #FCFCFE;
box-shadow: 0px 1px 0px #898A8D;
border-radius: 4.6px;
/* Symbol */
height: 31px;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 22.5px;
line-height: 31px;
/* identical to box height */
text-align: center;
letter-spacing: -0.554706px;
color: #000000;
/* P */
width: 32px;
height: 42px;
/* Rectangle */
background: #FCFCFE;
box-shadow: 0px 1px 0px #898A8D;
border-radius: 4.6px;
/* Symbol */
height: 31px;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 22.5px;
line-height: 31px;
/* identical to box height */
text-align: center;
letter-spacing: -0.554706px;
color: #000000;
/* O */
width: 32px;
height: 42px;
/* Rectangle */
background: #FCFCFE;
box-shadow: 0px 1px 0px #898A8D;
border-radius: 4.6px;
/* Symbol */
height: 31px;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 22.5px;
line-height: 31px;
/* identical to box height */
text-align: center;
letter-spacing: -0.554706px;
color: #000000;
/* I */
width: 32px;
height: 42px;
/* Rectangle */
background: #FCFCFE;
box-shadow: 0px 1px 0px #898A8D;
border-radius: 4.6px;
/* Symbol */
height: 31px;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 22.5px;
line-height: 31px;
/* identical to box height */
text-align: center;
letter-spacing: -0.554706px;
color: #000000;
/* U */
width: 32px;
height: 42px;
/* Rectangle */
background: #FCFCFE;
box-shadow: 0px 1px 0px #898A8D;
border-radius: 4.6px;
/* Symbol */
height: 31px;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 22.5px;
line-height: 31px;
/* identical to box height */
text-align: center;
letter-spacing: -0.554706px;
color: #000000;
/* Y */
width: 32px;
height: 42px;
/* Rectangle */
background: #FCFCFE;
box-shadow: 0px 1px 0px #898A8D;
border-radius: 4.6px;
/* Symbol */
height: 31px;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 22.5px;
line-height: 31px;
/* identical to box height */
text-align: center;
letter-spacing: -0.554706px;
color: #000000;
/* T */
width: 32px;
height: 42px;
/* Rectangle */
background: #FCFCFE;
box-shadow: 0px 1px 0px #898A8D;
border-radius: 4.6px;
/* Symbol */
height: 31px;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 22.5px;
line-height: 31px;
/* identical to box height */
text-align: center;
letter-spacing: -0.554706px;
color: #000000;
/* R */
width: 32px;
height: 42px;
/* Rectangle */
background: #FCFCFE;
box-shadow: 0px 1px 0px #898A8D;
border-radius: 4.6px;
/* Symbol */
height: 31px;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 22.5px;
line-height: 31px;
/* identical to box height */
text-align: center;
letter-spacing: -0.554706px;
color: #000000;
/* E */
width: 32px;
height: 42px;
/* Rectangle */
background: #FCFCFE;
box-shadow: 0px 1px 0px #898A8D;
border-radius: 4.6px;
/* Symbol */
height: 31px;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 22.5px;
line-height: 31px;
/* identical to box height */
text-align: center;
letter-spacing: -0.554706px;
color: #000000;
/* W */
width: 32px;
height: 42px;
/* Rectangle */
background: #FCFCFE;
box-shadow: 0px 1px 0px #898A8D;
border-radius: 4.6px;
/* Symbol */
height: 31px;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 22.5px;
line-height: 31px;
/* identical to box height */
text-align: center;
letter-spacing: -0.554706px;
color: #000000;
/* Q */
width: 32px;
height: 42px;
/* Rectangle */
background: #FCFCFE;
box-shadow: 0px 1px 0px #898A8D;
border-radius: 4.6px;
/* Symbol */
height: 31px;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 22.5px;
line-height: 31px;
/* identical to box height */
text-align: center;
letter-spacing: -0.554706px;
color: #000000;
/* ellipse */
width: 140px;
background: #FFFFFF;
box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.160784);
/* image */
width: 130px;
height: 130px;
/* 8C7948DA-DE0D-4C75-A489-906685B1197B */
/* 8C7948DA-DE0D-4C75-A489-906685B1197B */
background: #000000;
/* 8DBD582D-57D4-485E-8E76-671287936725 */
background: url(Image.png);
/* artist-2 1 */
width: 132.68px;
height: 151.43px;
background: url(artist-2.jpg);
